<ifModule mod_rewrite.c>
	RewriteEngine On
	AddType image/jpg .jpg
	RewriteCond %{REQUEST_URI} !\.(png|gif|jpg)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !index
	RewriteRule (.*) /ngadmin/index.html [L]
</ifModule>