<div class="container-fluid">
	<form novalidate class="form" role="form" name="AddSAHItemForm" id="AddSAHItemForm" method="post">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel">
					<div class="ona-portlet ona-portlet--height-fluid ona-portlet--head-lg ona--portlet__green">
						<div class="ona-portlet__head ona-portlet__head--noborder ona-portlet__space-x">
							<div class="ona-portlet__head-label">
								<h3 class="ona-portlet__head-title">
									<span class="ona-widget__icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24"/>
												<rect fill="#000000" x="2" y="6" width="13" height="12" rx="2"/>
												<path d="M22,8.4142119 L22,15.5857848 C22,16.1380695 21.5522847,16.5857848 21,16.5857848 C20.7347833,16.5857848 20.4804293,16.4804278 20.2928929,16.2928912 L16.7071064,12.7071013 C16.3165823,12.3165768 16.3165826,11.6834118 16.7071071,11.2928877 L20.2928936,7.70710477 C20.683418,7.31658067 21.316583,7.31658098 21.7071071,7.70710546 C21.8946433,7.89464181 22,8.14899558 22,8.4142119 Z" fill="#000000" opacity="0.3"/>
											</g>
										</svg>
									New Item  | <a href="#/sah-items/{{id}}">{{item.sceneName}}</a>
								</h3>
							</div>
						</div>
						<div class="ona-portlet__body ona-portlet__body--fit">
							<div class="ona-widget">
								<div class="ona-widget__visual ona-widget__green">
								</div>
								<div class="ona-widget__stats">
									<div class="col-lg-6">
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--success">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"/>
															<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
															<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
															<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
														</g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Item Info
												</span>
												<span class="ona-widget__desc">
													<div class="form-group has-feedback" ng-class="{'has-success': AddSAHItemForm.itemHeader.$valid && AddSAHItemForm.itemHeader.$dirty, 'has-invalid': AddSAHItemForm.itemHeader.$invalid && AddSAHItemForm.itemHeader.$dirty, 'has-error': AddSAHItemForm.itemHeader.$invalid && AddSAHItemForm.submitted}">
														<label for="itemHeader">name</label>
														<div class="input-icon">
															<i class="fas fa-flag fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="itemHeader" id="itemHeader" type="text" ng-model="item.itemHeader" placeholder="name (required)" required autofocus focus-me />
														</div>
														<div ng-show="AddSAHItemForm.itemHeader.$valid">
															<span ng-show="AddSAHItemForm.itemHeader.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="AddSAHItemForm.itemHeader.$invalid && AddSAHItemForm.itemHeader.$dirty">
															<span ng-show="AddSAHItemForm.itemHeader.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': AddSAHItemForm.itemMedia.$valid && AddSAHItemForm.itemMedia.$dirty, 'has-invalid': AddSAHItemForm.itemMedia.$invalid && AddSAHItemForm.itemMedia.$dirty, 'has-error': AddSAHItemForm.itemMedia.$invalid && AddSAHItemForm.submitted}">
														<div class="row">
															<div class="col-xs-9">
																<label for="itemMedia">media</label>
																<select class="form-control" name="itemMedia" ng-model="item.itemMedia" selectpicker data-style="white" title="Select item media" data-width="100%" ng-required="true">
																	<option value=""></option>
																	<option value="TV">TV</option>
																	<option value="MOVIE">MOVIE</option>
																	<option value="AUDIO">AUDIO</option>
																	<option value="GAME">GAME</option>
																	<option value="PROMO">PROMO</option>
																</select>
															</div>
															<div class="col-xs-3">
																<label for="itemOrder">sort</label>
																<div class="input-icon">
																	<i class="fas fa-sort-numeric-down fa-fw" aria-hidden="true"></i>
																	<input type="number" touchspin name="itemOrder" id="itemOrder" class="form-control" required ng-model="item.itemOrder" />
																</div>
															</div>
														</div>
													</div>
													<div class="form-group has-feedback text-angular" ng-class="{'has-success': AddSAHItemForm.itemText.$valid, 'has-invalid': AddSAHItemForm.itemText.$invalid && AddSAHItemForm.itemText.$dirty, 'has-error': AddSAHItemForm.itemText.$invalid && AddSAHItemForm.submitted}">
														<label for="itemText">description</label>
														<div class="input-icon" ng-class="{true: 'error'}[AddSAHItemForm.submitted && AddSAHItemForm.itemText.$invalid]">
															<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
															<text-angular ng-model="item.itemText" name="itemText" placeholder="something pithy goes here..." data-ng-required="true" ta-default-wrap="span" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear'],['html']]"></text-angular>
														</div>
														<div ng-show="AddSAHItemForm.itemText.$valid">
															<span ng-show="AddSAHItemForm.itemText.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="AddSAHItemForm.itemText.$invalid && AddSAHItemForm.itemText.$dirty">
															<span ng-show="AddSAHItemForm.itemText.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
												</span>
												<div class="ona-widget__foot">
													<div class="ona-form__actions">
														<button class="btn btn-info" ng-disabled="AddSAHItemForm.$invalid || isUnchanged(item)" id="add-new-btn" ng-click="add_new(item)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
														<a href="#/sah-items/{{id}}" class="btn btn-cancel">Cancel</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
