<div class="container-fluid">
	<form novalidate class="form" role="form" name="AddArtistForm" id="AddArtistForm" method="post" enctype="multiple/form-data">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-aqua">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fa fa-plus fa-fw" aria-hidden="true"></i> new artist
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group has-feedback" ng-class="{'has-success': AddArtistForm.INartistName.$valid && AddArtistForm.INartistName.$dirty, 'has-invalid': AddArtistForm.INartistName.$invalid && AddArtistForm.INartistName.$dirty, 'has-error': AddArtistForm.INartistName.$invalid && AddArtistForm.submitted}">
							<label for="INartistName">name:</label>
							<div class="row">
								<div class="col-xs-2">
									<select class="form-control" name="marker" ng-model="artist.marker" data-style="white" selectpicker title="select..." data-width="100%" data-live-search="false">
										<option value="the">the</option>
									</select>
								</div>
								<div class="col-xs-10">
									<div class="input-icon">
										<i class="fa fa-id-badge fa-fw" aria-hidden="true"></i>
										<input class="form-control" name="INartistName" placeholder="artist name (required)" type="text" ng-model="artist.INartistName" required autofocus />
									</div>
									<div ng-show="AddArtistForm.INartistName.$valid">
										<span ng-show="AddArtistForm.INartistName.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
									</div>
									<div ng-show="AddArtistForm.INartistName.$invalid && AddArtistForm.INartistName.$dirty">
										<span ng-show="AddArtistForm.INartistName.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': AddArtistForm.INroster_desc.$valid && AddArtistForm.INroster_desc.$dirty, 'has-invalid': AddArtistForm.INroster_desc.$invalid && AddArtistForm.INroster_desc.$dirty, 'has-error': AddArtistForm.INroster_desc.$invalid && AddArtistForm.submitted}">
							<label for="INroster_desc">description:</label>
							<div class="input-icon">
								<i class="fas fa-comment-dots fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="INroster_desc" type="text" ng-model="artist.INroster_desc" />
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': AddArtistForm.INlabel.$valid && AddArtistForm.INlabel.$dirty, 'has-invalid': AddArtistForm.INlabel.$invalid && AddArtistForm.INlabel.$dirty, 'has-error': AddArtistForm.INlabel.$invalid && AddArtistForm.submitted}">
							<div class="row">
								<div class="col-xs-6">
								<label for="INlabel">label:</label>
									<div class="input-icon">
										<i class="fas fa-tag fa-fw" aria-hidden="true"></i>
										<input class="form-control" id="INlabel" name="INlabel" type="text" ng-model="artist.INlabel" />
									</div>
								</div>
								<div class="col-xs-3">
									<label>active:</label>
									<div class="mt-radio-inline">
										<label class="mt-radio">
											<input type="radio" name="optionsActive" ng-model="artist.active" value="y" checked>yes
											<span></span>
										</label>
										<label class="mt-radio">
											<input type="radio" name="optionsActive" ng-model="artist.active" value="n">no
											<span></span>
										</label>
									</div>
								</div>
								<div class="col-xs-3">
									<label for="INsync">sync:</label>
									<select class="form-control" name="INsync" ng-model="artist.INsync" data-style="white" selectpicker title="select..." data-width="100%" data-live-search="false">
										<option value="Master">Master</option>
										<option value="Sync">Sync</option>
										<option value="Master/Sync">Master/Sync</option>
									</select>
								</div>
							</div>
						</div>
						<button class="btn btn-info" ng-disabled="AddArtistForm.$invalid || isUnchanged(artist)" id="add-new-btn" ng-click="add_new(artist)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
						<a href="#/artists" class="btn btn-cancel">Cancel</a>
					</div>
				</div>
				<div class="panel panel-aqua-light">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fa fa-book fa-fw" aria-hidden="true"></i> New ON Signings section (Fresh Optic Noises)
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail">
											<img src="img/125-no-image.gif" class="img-responsive">
										</div>
										<div class="fileinput-preview fileinput-exists thumbnail"></div>
										<div>
											<span class="btn btn-success btn-file"><span class="fileinput-new"><i class="fas fa-image fa-fw" aria-hidden="true"></i> Select image...</span>
											<span class="fileinput-exists"><i class="fas fa-edit fa-fw" aria-hidden="true"></i> Change</span><input type="file" id="album_pic" name="album_pic" portrait-input="album_pics"></span>
											<a href="" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times fa-fw" aria-hidden="true"></i> Remove</a>
											<h6 class="help-block"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> <em>Image <span class="red">must be 125x125</span> (name must not contain strange characters; no dashes; end in '.jpg')</em></h6>
										</div>
									</div>
									<ul class="list-group file-info" ng-repeat="album_pic in album_pics">
										 <li class="list-group-item"><i class="fas fa-file-signature fa-fw" aria-hidden="true"></i><strong>name:</strong> {{album_pic.name}}</li>
										 <li class="list-group-item"><i class="far fa-file-image fa-fw" aria-hidden="true"></i> <strong>type:</strong> {{album_pic.type}}</li>
										 <li class="list-group-item"><i class="fas fa-file-image fa-fw" aria-hidden="true"></i> <strong>size:</strong> {{album_pic.size}}kb</li>
									</ul>
								</div>
								<div class="col-xs-3">
									<label>display in new signings</label>
									<div class="mt-radio-inline">
										<label class="mt-radio">
											<input type="radio" name="home_status" ng-model="artist.home_status" value="y">yes
											<span></span>
										</label>
										<label class="mt-radio">
											<input type="radio" name="home_status" ng-model="artist.home_status" value="n" checked>no
											<span></span>
										</label>
									</div>
								</div>
								<div class="col-xs-3">
									<label for="home_order">sort order</label>
									<div class="input-icon">
										<i class="fas fa-sort-numeric-down fa-fw" aria-hidden="true"></i>
										<input type="number" name="home_order" id="home_order" class="form-control"  ng-model="artist.home_order" />
									</div>
									<span class="help-block">highest: {{max}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="panel panel-aqua-light">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fas fa-image fa-fw" aria-hidden="true"></i> Home page carousel
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-9 col-sm-8">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail">
											<img src="img/carousel-no-image.gif" alt="" />
										</div>
										<div class="fileinput-preview fileinput-exists thumbnail"></div>
										<div>
											<span class="btn btn-success btn-file"><span class="fileinput-new"><i class="fas fa-image fa-fw" aria-hidden="true"></i> Select image...</span>
											<span class="fileinput-exists"><i class="fas fa-edit fa-fw" aria-hidden="true"></i> Change</span><input type="file" name="slider_pic" portrait-input="slider_pics"></span>
											<a href="" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times fa-fw" aria-hidden="true"></i> Remove</a>
											<h6 class="help-block">	<i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> <em>Image <span class="red">must be 573x282</span> (name must not contain strange characters; no dashes; end in '.jpg')</em></h6>
										</div>
									</div>
									<ul class="list-group file-info" ng-repeat="slider_pic in slider_pics">
										 <li class="list-group-item"><i class="fas fa-file-signature fa-fw" aria-hidden="true"></i> <strong>file name:</strong> {{slider_pic.name}}</li>
										 <li class="list-group-item"><i class="far fa-file-image fa-fw" aria-hidden="true"></i> <strong>type:</strong> {{slider_pic.type}}</li>
										 <li class="list-group-item"><i class="fas fa-file-image fa-fw" aria-hidden="true"></i> <strong>size:</strong> {{slider_pic.size}}kb</li>
									</ul>
								</div>
								<div class="col-lg-3 col-sm-4">
									<label>display in carousel</label>
									<div class="mt-radio-inline">
										<label class="mt-radio">
											<input type="radio" name="slider_status" ng-model="artist.slider_status" value="y">yes
											<span></span>
										</label>
										<label class="mt-radio">
											<input type="radio" name="slider_status" ng-model="artist.slider_status" value="n" checked>no
											<span></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</form>
</div>
