<div class="container-fluid">
	<form novalidate class="form" role="form" name="AddSongToCompForm" id="AddSongToCompForm" method="post" enctype="multiple/form-data">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-purple"  id="newSongPanel">
					<div class="panel-heading">
						<a id="refresh1" ng-click="refreshCounters()" class="pull-right refresh-me margin-top-5" data-target="#newSongPanel" href="javascript:;"><span class="fas fa-redo" aria-hidden="true"></span></a>
						<h4 class="panel-title">
							<i class="fa fa-plus fa-fw" aria-hidden="true"></i> {{comp.comp_name}} | add song
						</h4>
					</div>
					<div class="panel-body panel-refresh refresh-container">
						<div class="form-group">
							<label for="artistID">select artist:</label>
							<select class="form-control" name="artistID" id="artistID" ng-model="song.artistID" data-live-search="true" ng-options="artist.artist_id as artist.artist_name for artist in artists" data-style="white" selectpicker title="Select an artist" data-width="100%" ng-required="true"></select>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': AddSongToCompForm.song_title.$valid, 'has-invalid': AddSongToCompForm.song_title.$invalid && AddSongToCompForm.song_title.$dirty, 'has-error': AddSongToCompForm.song_title.$invalid && AddSongToCompForm.submitted}">
							<label for="song_title">title:</label>
							<div class="row">
								<div class="col-xs-9">
									<div class="input-icon">
										<i class="fas fa-tag fa-fw" aria-hidden="true"></i>
										<input class="form-control" name="song_title" placeholder="song name/title (required)" type="text" ng-model="song.song_title" required />
									</div>
									<div ng-show="AddSongToCompForm.song_title.$valid">
										<span ng-show="AddSongToCompForm.song_title.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
									</div>
									<div ng-show="AddSongToCompForm.song_title.$invalid && AddSongToCompForm.song_title.$dirty">
										<span ng-show="AddSongToCompForm.song_title.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
								<div class="col-xs-3">
									<label>display in roster:</label>
									<div class="mt-radio-inline">
										<label class="mt-radio">
											<input type="radio" name="roster_flag" ng-model="song.roster_flag" value="y">yes
											<span></span>
										</label>
										<label class="mt-radio">
											<input type="radio" name="roster_flag" ng-model="song.roster_flag" value="n">no
											<span></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group has-feedback text-angular" ng-class="{'has-success': AddSongToCompForm.song_comments.$valid, 'has-invalid': AddSongToCompForm.song_comments.$invalid && AddSongToCompForm.song_comments.$dirty, 'has-error': AddSongToCompForm.song_comments.$invalid && AddSongToCompForm.submitted}">
							<label for="song_comments">song description:</label>
							<div class="input-icon" ng-class="{true: 'error'}[AddSongToCompForm.submitted && AddSongToCompForm.song_comments.$invalid]">
								<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
								<text-angular ng-model="song.song_comments" name="song_comments" placeholder="something pithy goes here..." ta-default-wrap="span" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
							</div>
						</div>
						<div class="form-group">
							<label>sort:</label>
							<div class="row">
								<div class="col-xs-3">
									<div class="input-icon">
										<i class="fas fa-sort-numeric-down fa-fw" aria-hidden="true"></i>
										<input type="number" name="item_sort" id="item_sort" class="form-control sortorder" ng-model="song.item_sort">
									</div>
								</div>
								<div class="col-xs-9">highest sort: {{max}} in comp '{{comp.comp_name}}'</div>
							</div>
						</div>
						<div class="form-group">
							<label>mp3 file:</label>
							<div id="song-input" class="fileinput fileinput-new input-group" data-provides="fileinput">
								<div class="form-control" data-trigger="fileinput">
									<i class="glyphicon glyphicon-file fileinput-exists"></i>
									<span class="fileinput-filename"></span>
								</div>
								<span class="input-group-addon btn btn-success btn-file">
									<span class="fileinput-new"><i class="fas fa-file-audio fa-fw" aria-hidden="true"></i> Select...</span>
									<span class="fileinput-exists"><i class="fas fa-edit fa-fw" aria-hidden="true"></i> Change</span>
									<input type="file" name="song_file" id="song_file" accept="audio/*" portrait-input="song_files" />
								</span>
								<a href="#" class="input-group-addon btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times fa-fw" aria-hidden="true"></i> Remove</a>
							</div>
							<h6 class="help-block"><i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i> <em>MP3 file name must not contain strange characters; <strong>no dashes</strong>; end in '.mp3'</em></h6>
							<ul class="list-group file-info" ng-repeat="song_file in song_files">
								 <li class="list-group-item"><i class="fas fa-file-signature fa-fw" aria-hidden="true"></i> <strong>file name:</strong> {{song_file.name}}</li>
								 <li class="list-group-item"><i class="far fa-file-audio fa-fw" aria-hidden="true"></i> <strong>type:</strong> {{song_file.type}}</li>
								 <li class="list-group-item"><i class="fas fa-file-audio fa-fw" aria-hidden="true"></i> <strong>size:</strong> {{song_file.size}}kb</li>
								 <li class="list-group-item"><strong>test:</strong> <a class="btn btn-default btn-xs play-mp3" new-mp3 data-songtitle="{{song_file.name}}" href=""><i class="fas fa-headphones-alt fa-fw" aria-hidden="true"></i></a></li>
							</ul>
							<input type="hidden" name="old_song1" ng-model="song.song_file" />
							<div id="progress_info">
								<div class="progress">
									<div id="progress" class="progress-bar progress-bar-info bar">
										<span id="progress_percent" class="percent"></span>
									</div>
								</div>
								<div class="clear_both"></div>
								<div>
									<div id="remaining">&nbsp;</div>
									<div id="b_transfered">&nbsp;</div>
									<div class="clearfix"></div>
								</div>
								<div id="upload_response"></div>
							</div>
						</div>
						<button class="btn btn-info" ng-disabled="AddSongToCompForm.$invalid || isUnchanged(song)" id="add-new-btn" ng-click="add_new(song)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
						<a href="#/edit-comp/{{comp_id}}" class="btn btn-cancel">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
