<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-aqua" id="artistsPanel">
				<div class="panel-heading">
					<a id="refresh1" ng-click="refresh()" class="pull-right margin-top-4 refresh-me" data-target="#artistsPanel" href="javascript:;"><span class="fas fa-redo" aria-hidden="true"></span></a>
					<span class="badge badge-white pull-right margin-top-4 margin-right-5">{{artistTotal}}</span>
					<h4 class="panel-title">
						<i class="fa fa-star" aria-hidden="true"></i> artists without songs
					</h4>
				</div>
				<div class="panel-body panel-refresh refresh-container">
					<div class="elevation">
						<table class="table table-condensed table-striped table-hover pull-down" show-filter="true" ng-table="tableParams">
							<tbody>
								<tr ng-repeat="artist in $data">
									<td class="col-xs-3" data-title="'name'" sortable="'INartistName'" filter="{ 'INartistName': 'text' }"><a href="#/edit-artist/{{artist.id}}">{{artist.marker | lowercase}} {{artist.INartistName | lowercase}}</a></td>
									<td class="col-xs-4" data-title="'description'">{{artist.INroster_desc}}</td>
									<td class="center col-xs-2" data-title="'added'" sortable="'date_added'">{{artist.date_added | timestampDateFormat}}</td>
									<td class="center col-xs-1" data-title="'active'" sortable="'activeTxt'"><span class="label" ng-class="{'label-warning': artist.active=='n','label-success': artist.active=='y'}">{{artist.activeTxt}}</span></td>
									<td class="center col-xs-2" data-title="''">
										<div class="btn-group">
											<a href="#/edit-artist/{{artist.id}}" class="btn btn-default btn-xs margin-right-5"><i class="fas fa-edit fa-fw" aria-hidden="true"></i></a>
											<a href="" ng-click="delete(artist)" class="btn btn-default btn-xs"><i class="fas fa-trash fa-fw" aria-hidden="true"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
