<div class="container-fluid">


	<div class="row">
	  <div class="col-lg-6">
	    <div class="panel">
	      <div class="row">
	        <div class="col-lg-12">
	          <div class="ona-portlet ona-portlet--height-fluid ona-portlet--head-lg ona--portlet__info">
	            <div class="ona-portlet__head ona-portlet__head--noborder ona-portlet__space-x">
	              <div class="ona-portlet__head-label">
	                <h3 class="ona-portlet__head-title">
	                  <!-- OPTIONAL -->
	                  <span class="ona-widget__icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon">
											    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <polygon fill="#000000" opacity="0.3" transform="translate(8.885842, 16.114158) rotate(-315.000000) translate(-8.885842, -16.114158) " points="6.89784488 10.6187476 6.76452164 19.4882481 8.88584198 21.6095684 11.0071623 19.4882481 9.59294876 18.0740345 10.9659914 16.7009919 9.55177787 15.2867783 11.0071623 13.8313939 10.8837471 10.6187476"/>
											        <path d="M15.9852814,14.9852814 C12.6715729,14.9852814 9.98528137,12.2989899 9.98528137,8.98528137 C9.98528137,5.67157288 12.6715729,2.98528137 15.9852814,2.98528137 C19.2989899,2.98528137 21.9852814,5.67157288 21.9852814,8.98528137 C21.9852814,12.2989899 19.2989899,14.9852814 15.9852814,14.9852814 Z M16.1776695,9.07106781 C17.0060967,9.07106781 17.6776695,8.39949494 17.6776695,7.57106781 C17.6776695,6.74264069 17.0060967,6.07106781 16.1776695,6.07106781 C15.3492424,6.07106781 14.6776695,6.74264069 14.6776695,7.57106781 C14.6776695,8.39949494 15.3492424,9.07106781 16.1776695,9.07106781 Z" fill="#000000" transform="translate(15.985281, 8.985281) rotate(-315.000000) translate(-15.985281, -8.985281) "/>
											    </g>
											</svg>
	                  </span> <!-- end ona-widget__icon -->
	                  <!-- END OPTIONAL -->
	                  edit supervisor password
	                </h3> <!-- end ona-portlet__head-title -->
	              </div> <!-- end ona-portlet__head-label -->
	            </div> <!-- end ona-portlet__head -->
	            <div class="ona-portlet__body ona-portlet__body--fit">
	              <div class="ona-widget">
	                <div class="ona-widget__visual ona-widget__info"> <!--class for background color -->
	                </div>
	                <div class="ona-widget__stats">
	                  <div class="ona-widget__items">
	                    <div class="ona-widget__item">
												<form novalidate class="form" role="form" name="EditSupeForm" id="EditSupeForm" method="post">
													<div class="row">
														<div class="col-lg-12">
															<div class="form-group has-feedback" ng-class="{'has-success': EditSupeForm.itemPassword.$valid, 'has-invalid': EditSupeForm.itemPassword.$invalid && EditSupeForm.itemPassword.$dirty, 'has-error': EditSupeForm.itemPassword.$invalid && EditSupeForm.submitted}">
																<label for="itemPassword">password:</label>
																<div class="input-icon" ng-class="{true: 'error'}[EditSupeForm.submitted && EditSupeForm.itemPassword.$invalid]">
																	<i class="fa fa-unlock fa-fw" aria-hidden="true"></i>
																	<input class="form-control" name="itemPassword" type="text" ng-model="supe.itemPassword" required />
																</div>
																<div ng-show="EditSupeForm.itemPassword.$valid">
																	<span ng-show="EditSupeForm.itemPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
																</div>
																<div ng-show="EditSupeForm.itemPassword.$invalid && EditSupeForm.itemPassword.$dirty">
																	<span ng-show="EditSupeForm.itemPassword.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
																</div>
															</div>
														</div> <!-- end of first col -->
													</div><!-- end of first row -->
												</form>
	                    </div> <!-- ona-widget__item -->
	                  </div> <!-- ona-widget__items -->
	                </div> <!-- ona-widget__stats -->
	              </div> <!-- ona-widget -->
	            </div> <!-- end ona-portlet__body -->
							<div class="ona-portlet__foot">
	              <div class="ona-form__actions">
									<button class="btn btn-info" ng-disabled="EditSupeForm.$invalid || isUnchanged(supe)" id="edit-supe-btn" ng-click="update(supe)"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
									<a href="#/" class="btn btn-cancel">Cancel</a>
	              </div>
	            </div> <!-- end ona-portlet__foot -->
	          </div> <!-- end ona-portlet -->
	        </div> <!-- end col-lg-12 -->
	      </div> <!-- end row -->
	    </div> <!-- end panel -->
	  </div> <!-- end col-lg-6 -->
	</div> <!-- end row -->
</div>
