<div class="container-fluid">
	<form novalidate class="form" role="form" name="EditSupeForm" id="EditSupeForm" method="post">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fa fa-key" aria-hidden="true"></i> edit supervisor password
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group has-feedback" ng-class="{'has-success': EditSupeForm.itemPassword.$valid, 'has-invalid': EditSupeForm.itemPassword.$invalid && EditSupeForm.itemPassword.$dirty, 'has-error': EditSupeForm.itemPassword.$invalid && EditSupeForm.submitted}">
							<label for="itemPassword">password:</label>
							<div class="input-icon" ng-class="{true: 'error'}[EditSupeForm.submitted && EditSupeForm.itemPassword.$invalid]">
								<i class="fa fa-unlock fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="itemPassword" type="text" ng-model="supe.itemPassword" required />
							</div>
							<div ng-show="EditSupeForm.itemPassword.$valid">
								<span ng-show="EditSupeForm.itemPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSupeForm.itemPassword.$invalid && EditSupeForm.itemPassword.$dirty">
								<span ng-show="EditSupeForm.itemPassword.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end of first col -->
		</div><!-- end of first row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<button class="btn btn-info" ng-disabled="EditSupeForm.$invalid || isUnchanged(supe)" id="edit-supe-btn" ng-click="update(supe)"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
						<a href="#/" class="btn btn-cancel">Cancel</a>
					</div><!-- end of panel-body -->
				</div><!-- end of panel -->
			</div><!-- end of third col -->
		</div><!-- end of second row -->
	</form>
</div>
