<div class="container-fluid">
	<form novalidate class="form" role="form" name="EditDropboxForm" id="EditDropboxForm" method="post">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-light-blue">
					<div class="panel-heading">
						<div class="nav-btns pull-right">
							<a ng-show="links.prevValue!=null" href="#/edit-dropbox/{{links.prevValue}}" class="btn btn-xs btn-default margin-top-4"><i class="fas fa-chevron-left fa-fw" aria-hidden="true"></i> </a>&nbsp;
							<a ng-show="links.nextValue!=null" href="#/edit-dropbox/{{links.nextValue}}" class="btn btn-xs btn-default margin-top-4"> <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i></a>
						</div>
						<div class="pull-right btn-group pad-right-5">
							<button tabindex="-1" type="button" class="btn btn-xs btn-default dropdown-toggle margin-top-4" data-toggle="dropdown"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> &nbsp;&nbsp;<span class="caret"></span></button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li class="dropdown-header">status</li>
								<li ng-show="dropbox.active=='y'"><a href="javascript:;" ng-click="setInActive(dropbox)"><i class="pull-right fas fa-eye-slash fa-fw" aria-hidden="true"></i> Set Inactive</a></li>
								<li ng-show="dropbox.active=='n'"><a href="javascript:;" ng-click="setActive(dropbox)"><i class="pull-right fas fa-eye fa-fw" aria-hidden="true"></i> Set Active</a></li>
							</ul>
						</div>
						<h4 class="panel-title">
							<i class="fas fa-edit fa-fw" aria-hidden="true"></i> {{dropbox.dropbox_name}}
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group has-feedback clearfix" ng-class="{'has-success': EditDropboxForm.dropbox_name.$valid, 'has-invalid': EditDropboxForm.dropbox_name.$invalid && EditDropboxForm.dropbox_name.$dirty, 'has-error': EditDropboxForm.dropbox_name.$invalid && EditDropboxForm.submitted}">
							<label for="dropbox_name">name:</label>
							<div class="input-icon">
								<i class="fa fa-flag fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="dropbox_name" type="text" ng-model="dropbox.dropbox_name" placeholder="name (required)" required autofocus focus-me />
							</div>
							<div ng-show="EditDropboxForm.dropbox_name.$valid">
								<span ng-show="EditDropboxForm.dropbox_name.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditDropboxForm.dropbox_name.$invalid && EditDropboxForm.dropbox_name.$dirty">
								<span ng-show="EditDropboxForm.dropbox_name.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-8">
									<div class="form-group has-feedback clearfix" ng-class="{'has-success': EditDropboxForm.dropbox_file.$valid, 'has-invalid': EditDropboxForm.dropbox_file.$invalid && EditDropboxForm.dropbox_file.$dirty, 'has-error': EditDropboxForm.dropbox_file.$invalid && EditDropboxForm.submitted}">
										<label for="dropbox_file">zip file:</label>
										<div class="input-icon">
											<i class="fas fa-file-archive fa-fw" aria-hidden="true"></i>
											<input class="form-control" name="dropbox_file" type="text" ng-model="dropbox.dropbox_file" placeholder="zip file name (required)" required ng-pattern="/^([a-zA-Z0-9_]*)\.(((z|Z)(i|I)(p|P)))$/" />
										</div>
										<div ng-show="EditDropboxForm.dropbox_file.$valid">
											<span ng-show="EditDropboxForm.dropbox_file.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditDropboxForm.dropbox_file.$invalid && EditDropboxForm.dropbox_file.$dirty">
											<span ng-show="EditDropboxForm.dropbox_file.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										<h6 class="help-block"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> <em>Zip file name must not contain strange characters or spaces; must end in '.zip'. Ex: file_name.zip</em></h6>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group has-feedback clearfix" ng-class="{'has-success': EditDropboxForm.sort.$valid, 'has-invalid': EditDropboxForm.sort.$invalid && EditDropboxForm.sort.$dirty, 'has-error': EditDropboxForm.sort.$invalid && EditDropboxForm.submitted}">
										<label for="itemOrder">sort:</label>
										<div class="input-icon">
											<i class="fas fa-sort-numeric-down fa-fw" aria-hidden="true"></i>
											<input type="number" touchspin name="sort" id="sort" class="form-control" ng-model="dropbox.sort" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<label for="link-{{ $index*10 + 1 }}">download link:</label>
									<div class="input-group">
										<input type="text" name="link-{{ $index*10 + 1 }}" id="link-{{ $index*10 + 1 }}" class="form-control" value="http://www.optic-noise.com/download_dropbox.php?id={{dropbox.dropbox_id}}" ng-model="dropbox.copy2" />
										<span class="input-group-btn">
											<button clipboard text="dropbox.copy2" on-copied="success(dropbox.copy2)" on-error="fail(err)" class="btn btn-blue clip_button"><i class="fas fa-copy fa-fw" aria-hidden="true"></i></button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-12">
									<label for="">link:</label>
									<div class="input-group">
										<span class="pull-right"><a href="http://www.optic-noise.com/download_dropbox.php?id={{dropbox.dropbox_id}}">{{dropbox.dropbox_name}}</a></span>
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-info" ng-disabled="EditDropboxForm.$invalid || isUnchanged(dropbox)" id="edit-btn" ng-click="update(dropbox)"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
						<button class="btn btn-danger" ng-click="delete(dropbox)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
						<a href="#/dropboxes" class="btn btn-cancel">Cancel</a>
						<div class="pull-right">added: {{dropbox.dateAdded}}</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-lighter-blue">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> info
						</h4>
					</div>
					<div class="panel-body">
						<div class="row padded-grid">
							<div class="col-lg-12">
								<ul class="list-group pull-down">
									<li class="list-group-item"><i class="fas fa-file-download fa-fw" aria-hidden="true"></i> number of downloads <span class="pull-right pad-left-5"><a class="btn btn-default btn-xs" href="" ng-click="resetCount(dropbox)"><i class="fa fa-times fa-fw" aria-hidden="true"></i></a></span> <span class="badge bg-blue margin-top-3">{{dropbox.count}}</span></li>
									<li class="list-group-item"><i class="fas fa-calendar-check fa-fw" aria-hidden="true"></i> last download <span class="pull-right">{{dropbox.lastDownload}}</span></li>
									<li class="list-group-item"><i class="far fa-calendar-plus fa-fw" aria-hidden="true"></i> added <span class="pull-right">{{dropbox.dateAdded}}</span></li>
									<li class="list-group-item"><i class="fas fa-thermometer-three-quarters fa-fw" aria-hidden="true"></i> status <span class="label pull-right" ng-class="{'label-warning': dropbox.active=='n','label-success': dropbox.active=='y'}">{{dropbox.activeTxt}}</span><h6 class="help-block align-right margin-bottom-0"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i> <em>Only Active Dropboxes are displayed on the Comps page.</em></h6>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
