<div class="container-fluid">
	<form novalidate class="form" role="form" name="EditArtistForm" id="EditArtistForm" method="post" enctype="multiple/form-data">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel">
					<div class="ona-portlet ona-portlet--height-fluid ona-portlet--head-lg ona--portlet__purple">
						<div class="ona-portlet__head ona-portlet__head--noborder ona-portlet__space-x">
							<div class="ona-portlet__head-label">
								<h3 class="ona-portlet__head-title">
									<span class="ona-widget__icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon">
									    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <rect x="0" y="0" width="24" height="24"/>
								        <path d="M4,6 L20,6 C20.5522847,6 21,6.44771525 21,7 L21,8 C21,8.55228475 20.5522847,9 20,9 L4,9 C3.44771525,9 3,8.55228475 3,8 L3,7 C3,6.44771525 3.44771525,6 4,6 Z M5,11 L10,11 C10.5522847,11 11,11.4477153 11,12 L11,19 C11,19.5522847 10.5522847,20 10,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,12 C4,11.4477153 4.44771525,11 5,11 Z M14,11 L19,11 C19.5522847,11 20,11.4477153 20,12 L20,19 C20,19.5522847 19.5522847,20 19,20 L14,20 C13.4477153,20 13,19.5522847 13,19 L13,12 C13,11.4477153 13.4477153,11 14,11 Z" fill="#000000"/>
								        <path d="M14.4452998,2.16794971 C14.9048285,1.86159725 15.5256978,1.98577112 15.8320503,2.4452998 C16.1384028,2.90482849 16.0142289,3.52569784 15.5547002,3.83205029 L12,6.20185043 L8.4452998,3.83205029 C7.98577112,3.52569784 7.86159725,2.90482849 8.16794971,2.4452998 C8.47430216,1.98577112 9.09517151,1.86159725 9.5547002,2.16794971 L12,3.79814957 L14.4452998,2.16794971 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
									    </g>
										</svg>
									</span>
									<a href="#/edit-comp/{{comp_id}}">{{comp.comp_name}}</a> | {{showname}}
								</h3>
							</div>
						</div>
						<div class="ona-portlet__body ona-portlet__body--fit">
							<div class="ona-widget">
								<div class="ona-widget__visual ona-widget__purple">
								</div>
								<div class="ona-widget__stats">
									<div class="col-lg-6">
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--aqua">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
											        <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"/>
											        <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Details
												</span>
												<span class="ona-widget__desc">
													<div class="form-group has-feedback" ng-class="{'has-success': EditArtistForm.INartistName.$valid, 'has-invalid': EditArtistForm.INartistName.$invalid && EditArtistForm.INartistName.$dirty, 'has-error': EditArtistForm.INartistName.$invalid && EditArtistForm.submitted}">
														<label for="INartistName">name</label>
														<div class="row">
															<div class="col-lg-2 col-sm-3">
																<select class="form-control" name="marker" ng-model="artist.marker" data-style="white" selectpicker title="select..." data-width="100%" data-live-search="false">
																	<option value="the">the</option>
																</select>
															</div>
															<div class="col-lg-10 col-sm-9">
																<div class="input-icon">
																	<i class="fas fa-id-badge fa-fw" aria-hidden="true"></i>
																	<input class="form-control" name="INartistName" type="text" ng-model="artist.INartistName" ng-required="true" />
																</div>
																<div ng-show="EditArtistForm.INartistName.$valid">
																	<span ng-show="EditArtistForm.INartistName.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
																</div>
																<div ng-show="EditArtistForm.INartistName.$invalid && EditArtistForm.INartistName.$dirty">
																	<span ng-show="EditArtistForm.INartistName.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group" ng-class="{'has-success': EditArtistForm.INroster_desc.$valid, 'has-invalid': EditArtistForm.INroster_desc.$invalid && EditArtistForm.INroster_desc.$dirty, 'has-error': EditArtistForm.INroster_desc.$invalid && EditArtistForm.submitted}">
														<label for="INroster_desc">description</label> <i class="fas fa-info-circle fa-fw text-green" aria-hidden="true" popover-placement="top" popover-trigger="mouseenter" popover="<i class='fas fa-comment-dots fa-fw text-green' aria-hidden='true'></i> Used in Roster."></i>
														<div class="input-icon" ng-class="{true: 'error'}[EditArtistForm.submitted && EditArtistForm.INroster_desc.$invalid]">
															<i class="fas fa-comment-dots fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="INroster_desc" type="text" ng-model="artist.INroster_desc" />
														</div>
													</div>
													<div class="form-group" ng-class="{'has-success': EditArtistForm.INlabel.$valid, 'has-invalid': EditArtistForm.INlabel.$invalid && EditArtistForm.INlabel.$dirty, 'has-error': EditArtistForm.INlabel.$invalid && EditArtistForm.submitted}">
														<div class="row">
															<div class="col-lg-5 col-sm-4">
															<label for="INlabel">label</label>
																<div class="input-icon">
																	<i class="fas fa-tag fa-fw"></i>
																	<input class="form-control" id="INlabel" name="INlabel" type="text" ng-model="artist.INlabel" />
																</div>
															</div>
															<div class="col-lg-3 col-sm-4">
																<label>active</label>
																<div class="mt-radio-inline">
																	<label class="mt-radio">
																		<input type="radio" name="optionsActive" ng-model="artist.active" value="y" >yes
																		<span></span>
																	</label>
																	<label class="mt-radio">
																		<input type="radio" name="optionsActive" ng-model="artist.active" value="n">no
																		<span></span>
																	</label>
																</div>
															</div>
															<div class="col-lg-4 col-sm-4">
																<label for="INsync">sync</label>
																<select class="form-control" data-width="100%" title="" name="INsync" ng-model="artist.INsync" data-style="white" selectpicker title="select..." data-width="100%" data-live-search="false">
																	<option value="Master">Master</option>
																	<option value="Sync">Sync</option>
																	<option value="Master/Sync">Master/Sync</option>
																</select>
															</div>
														</div>
													</div>
												</span>
												<div class="ona-widget__foot">
													<div class="ona-form__actions row">
														<div class="col-lg-8 col-sm-8">
															<button class="btn btn-info" id="edit-btn" ng-click="update(artist)"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
															<button class="btn btn-danger" ng-click="delete(artist)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
															<a href="#/edit-comp/{{comp_id}}" class="btn btn-cancel">Cancel</a>
														</div>
														<div class="col-lg-4 col-sm-4">
															<div class="center"><i class="far fa-calendar-plus fa-fw text-light-blue" aria-hidden="true"></i> Added: {{artist.dateAdded}}</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="ona-svg-icon ona-svg-icon--yellow">
														<defs>
															<path d="M20,18 L8,18 C7.44771525,18 7,18.4477153 7,19 C7,19.5522847 7.44771525,20 8,20 L20,20 L20,21 C20,21.626904 19.6418278,22 19,22 L7,22 C5.2536027,22 4,20.6941639 4,19 L4,5 C4,3.30583615 5.2536027,2 7,2 L19,2 C19.6418278,2 20,2.37309604 20,3 L20,18 Z" id="path-1"></path>
														</defs>
														<g id="Stockholm-icons-/-Home-/-Book" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
															<mask id="mask-2" fill="white">
																<use xlink:href="#path-1"></use>
															</mask>
															<use id="Combined-Shape" fill="#000000" fill-rule="nonzero" xlink:href="#path-1"></use>
														</g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													New ON Signings section (Fresh Optic Noises)
												</span>
												<span class="ona-widget__desc">
													<div class="form-group" ng-class="{'has-success': EditArtistForm.INlabel.$valid, 'has-invalid': EditArtistForm.home_order.$invalid && EditArtistForm.home_order.$dirty, 'has-error': EditArtistForm.home_order.$invalid && EditArtistForm.submitted}">
														<div class="row">
															<div class="col-lg-5 col-sm-4">
																<label>image</label> <i class="fas fa-info-circle fa-fw text-danger" aria-hidden="true" popover-placement="right" popover-trigger="mouseenter" popover="<i class='fas fa-image fa-fw text-yellow' aria-hidden='true'></i> Image must be 125x125 (name must not contain strange characters; end in '.jpg')."></i><br>
																<div class="fileinput fileinput-{{albumClass}}" data-provides="fileinput">
																	<div class="fileinput-new thumbnail">
																		<img ng-src="img/125-no-image.gif" class="img-responsive">
																	</div>
																	<div class="fileinput-preview fileinput-exists thumbnail">
																		<img ng-src="{{artist.albumImage}}" />
																	</div>
																	<div>
																		<span class="btn btn-success btn-file"><span class="fileinput-new"><i class="fas fa-image fa-fw" aria-hidden="true"></i> Select image...</span><span class="fileinput-exists"><i class="fas fa-edit"></i> Change</span><input type="file" id="album_pic" name="album_pic" class="btn btn-success" portrait-input="album_pics"></span>
																		<a href="" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fas fa-times fa-fw" aria-hidden="true"></i> Remove</a>
																	</div>
																</div>
																<ul class="list-group file-info" ng-repeat="album_pic in album_pics">
																	 <li class="list-group-item"><i class="fas fa-file-signature fa-fw text-light-blue" aria-hidden="true"></i> File name: {{album_pic.name}}</li>
																	 <li class="list-group-item"><i class="far fa-file-image fa-fw text-yellow" aria-hidden="true"></i> Type: {{album_pic.type}}</li>
																	 <li class="list-group-item"><i class="fas fa-file-image fa-fw text-pink" aria-hidden="true"></i> Size: {{album_pic.size}}kb</li>
																</ul>
															</div>
															<div class="col-lg-4 col-sm-4">
																<label for="home_status"> display in signings</label> <i class="fas fa-info-circle fa-fw text-green" aria-hidden="true" popover-placement="bottom" popover-trigger="mouseenter" popover="<i class='fas fa-book text-yellow' aria-hidden='true'></i> Disabled if there are already 3 artists displayed in Signings section on home page or if artist has no FON image."></i>
																<div class="mt-radio-inline">
																	<label class="mt-radio">
																		<input type="radio" ng-disabled="allFon==3 || albumClass=='new'" class="form-control" name="home_status" ng-model="artist.home_status" value="y" >yes
																		<span></span>
																	</label>
																	<label class="mt-radio">
																		<input type="radio" ng-disabled="allFon==3 || albumClass=='new'" class="form-control" name="home_status" ng-model="artist.home_status" value="n">no
																		<span></span>
																	</label>
																</div>
															</div>
															<div class="col-lg-3 col-sm-4">
																<label for="home_order"> sort order</label> <i class="fas fa-info-circle fa-fw text-green" aria-hidden="true" popover-placement="top" popover-trigger="mouseenter" popover="<i class='fas fa-sort-numeric-down text-green' aria-hidden='true'></i> Only three artists are displayed in Signings section on home page."></i>
																<div class="input-icon">
																	<i class="fas fa-sort-numeric-down fa-fw"></i>
																	<input type="text" touchspin name="home_order" id="home_order" class="form-control touchspin"  ng-model="artist.home_order" />
																</div>
																<h6 class="help-block"><i class="fas fa-sort-numeric-down text-green" aria-hidden="true"></i> highest: {{max}}</h6>
															</div>
														</div>
													</div>
												</span>
											</div>
										</div>
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--red">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <polygon points="0 0 24 0 24 24 0 24"/>
											        <path d="M16.5,4.5 C14.8905,4.5 13.00825,6.32463215 12,7.5 C10.99175,6.32463215 9.1095,4.5 7.5,4.5 C4.651,4.5 3,6.72217984 3,9.55040872 C3,12.6834696 6,16 12,19.5 C18,16 21,12.75 21,9.75 C21,6.92177112 19.349,4.5 16.5,4.5 Z" fill="#000000" fill-rule="nonzero"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Featured
												</span>
												<span class="ona-widget__desc">
													<div class="form-group">
														<div class="row">
															<div class="col-lg-8 col-sm-8">
																<label>image</label> <i class="fas fa-info-circle fa-fw text-danger" aria-hidden="true" popover-placement="right" popover-trigger="mouseenter" popover="<i class='fas fa-image fa-fw text-danger' aria-hidden='true'></i> Image must be 573x282 (name must not contain strange characters; end in '.jpg')."></i>
																<div class="fileinput fileinput-{{sliderClass}}" data-provides="fileinput">
																	<div class="fileinput-new thumbnail">
																		<img ng-src="img/carousel-no-image.gif" alt="" />
																	</div>
																	<div class="fileinput-preview fileinput-exists thumbnail">
																		<img ng-src="{{artist.sliderImage}}" />
																	</div>
																	<div>
																		<span class="btn btn-success btn-file"><span class="fileinput-new"><i class="fas fa-image"></i> Select image...</span>
																		<span class="fileinput-exists"><i class="fas fa-edit"></i> Change</span><input type="file" id="slider_pic" name="slider_pic" portrait-input="slider_pics"></span>
																		<a href="" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fas fa-times"></i> Remove</a>
																	</div>
																</div>
																<ul class="list-group file-info" ng-repeat="slider_pic in slider_pics">
																	 <li class="list-group-item"><i class="fas fa-file-signature fa-fw text-light-blue" aria-hidden="true"></i> File name: {{slider_pic.name}}</li>
																	 <li class="list-group-item"><i class="far fa-file-image fa-fw text-yellow" aria-hidden="true"></i> Type: {{slider_pic.type}}</li>
																	 <li class="list-group-item"><i class="fas fa-file-image fa-fw text-pink" aria-hidden="true"></i> Size: {{slider_pic.size}}kb</li>
																</ul>
															</div>
															<div class="col-lg-4 col-sm-4">
																<label>display in carousel</label>
																<div class="mt-radio-inline">
																	<label class="mt-radio">
																		<input type="radio" name="slider_status" ng-model="artist.slider_status" value="y">yes
																		<span></span>
																	</label>
																	<label class="mt-radio">
																		<input type="radio" name="slider_status" ng-model="artist.slider_status" value="n">no
																		<span></span>
																	</label>
																</div>
															</div>
														</div>
													</div>
												</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="ona-widget__items ona-ribbon ona-ribbon--ver ona-ribbon--shadow ona-ribbon--round">
											<div class="ona-ribbon__target">
												{{songCount}}
											</div>
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--orange">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <path d="M11.9785206,18.8007059 C11.8002933,20.0396328 10.5347301,21 9,21 C7.34314575,21 6,19.8807119 6,18.5 C6,17.1192881 7.34314575,16 9,16 C9.35063542,16 9.68722107,16.0501285 10,16.1422548 L10,5.93171093 C10,5.41893942 10.319781,4.96566617 10.7894406,4.81271925 L16.5394406,3.05418311 C17.2638626,2.81827161 18,3.38225531 18,4.1731748 C18,4.95474642 18,5.54092513 18,5.93171093 C18,6.51788965 17.4511634,6.89225606 17,7 C16.3508668,7.15502181 14.6842001,7.48835515 12,8 L12,18.5512168 C12,18.6409956 11.9927193,18.7241187 11.9785206,18.8007059 Z" fill="#000000" fill-rule="nonzero"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Songs
												</span>
												<span class="ona-widget__desc">
													<table class="table table-condensed table-striped table-hover pull-down">
														<thead>
															<tr>
																<th><i class="fas fa-tag fa-fw text-orange" aria-hidden="true"></i> name</th>
																<th><i class="fas fa-file-audio fa-fw text-danger" aria-hidden="true"></i> mp3</th>
																<th class="center"><i class="far fa-play-circle fa-fw text-purple" aria-hidden="true"></i></th>
																<th class="center"><i class="fas fa-download fa-fw text-green" aria-hidden="true"></i></th>
																<th class="center"><i class="fas fa-desktop fa-fw text-pink" aria-hidden="true"></i></th>
																<th></th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="song in songs">
																<td class="col-xs-2"><a href="#/edit-song/{{song.song_id}}">{{song.song_title | lowercase}}</a></td>
																<td class="col-xs-3">{{song.song_file || 'No MP3'}}</td>
																<td class="center col-xs-2">{{song.song_count}}</td>
																<td class="center col-xs-2">{{song.song_downloads}}</td>
																<td class="center col-xs-2"><span class="label {{song.rosterClass}}">{{song.rosterTxt}}</span></td>
																<td class="col-xs-1">
																	<div class="tools btn-group">
																		<button tabindex="-1" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-h" aria-hidden="true"></i></button>
																		<ul class="dropdown-menu pull-right" role="menu">
																			<li ng-show="song.song_file" class="dropdown-header">MP3</li>
																			<li><a ng-show="song.song_file" play-mp3 data-songtitle="{{song.song_title}}" href="{{song.song_file}}"><i class="pull-right fas fa-headphones-alt fa-fw text-orange" aria-hidden="true"></i> Play</a></li>
																			<li class="dropdown-header">review</li>
																			<li><a href="#/edit-song/{{song.song_id}}"><i class="pull-right fas fa-edit fa-fw text-blue" aria-hidden="true"></i> Edit</a></li>
																			<li><a href="" ng-click="deleteSong(song)"><i class="pull-right fas fa-trash-alt fa-fw text-danger" aria-hidden="true"></i> Delete</a></li>
																		</ul>
																	</div>
																</td>
															</tr>
															<tr data-ng-show="songCount==0"><td colspan=5><div>There are no songs for {{showname}}.</div></td></tr>
														</tbody>
													</table>
												</span>
												<div class="ona-widget__foot">
													<div class="ona-form__actions">
														<a href="#/add-song-to-artist/{{artist.INartistID}}" class="btn btn-success"><i class="fas fa-plus fa-fw" aria-hidden="true"></i> add song</a>
													</div>
												</div>
											</div>
										</div>
										<div class="ona-widget__items ona-ribbon ona-ribbon--ver ona-ribbon--shadow ona-ribbon--round">
											<div class="ona-ribbon__target">
												{{compCount}}
											</div>
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--purple">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <path d="M4,6 L20,6 C20.5522847,6 21,6.44771525 21,7 L21,8 C21,8.55228475 20.5522847,9 20,9 L4,9 C3.44771525,9 3,8.55228475 3,8 L3,7 C3,6.44771525 3.44771525,6 4,6 Z M5,11 L10,11 C10.5522847,11 11,11.4477153 11,12 L11,19 C11,19.5522847 10.5522847,20 10,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,12 C4,11.4477153 4.44771525,11 5,11 Z M14,11 L19,11 C19.5522847,11 20,11.4477153 20,12 L20,19 C20,19.5522847 19.5522847,20 19,20 L14,20 C13.4477153,20 13,19.5522847 13,19 L13,12 C13,11.4477153 13.4477153,11 14,11 Z" fill="#000000"/>
											        <path d="M14.4452998,2.16794971 C14.9048285,1.86159725 15.5256978,1.98577112 15.8320503,2.4452998 C16.1384028,2.90482849 16.0142289,3.52569784 15.5547002,3.83205029 L12,6.20185043 L8.4452998,3.83205029 C7.98577112,3.52569784 7.86159725,2.90482849 8.16794971,2.4452998 C8.47430216,1.98577112 9.09517151,1.86159725 9.5547002,2.16794971 L12,3.79814957 L14.4452998,2.16794971 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Comps
												</span>
												<span class="ona-widget__desc">
													<h5 ng-show="emptyCompInfo" class="pull-down"><strong>{{showname}}</strong> is currently in zero comps.</h5>
													<div class="comp-list pull-down" ng-repeat="(key,value) in compinfo">
														<h5><i class="fas fa-gift fa-fw text-purple" aria-hidden="true"></i> <a href="edit-comp/{{key}}">{{value[0].comp_name}} <i class="fas fa-external-link-alt fa-fw fa-xs text-purple" aria-hidden="true"></i></a></h5><span class="pull-right margin-top-minus-20"><i class="fas fa-download fa-fw text-green" aria-hidden="true"></i> {{value[0].count}}</span>
														<ul>
															<li ng-show="value[0].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[0].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[0].song_title}}</a> | <span ng-bind-html="renderItemText(value[0].song_comments)"></span></li>
															<li ng-show="value[1].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[1].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[1].song_title}}</a> | <span ng-bind-html="renderItemText(value[1].song_comments)"></span></li>
															<li ng-show="value[2].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[2].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[2].song_title}}</a> | <span ng-bind-html="renderItemText(value[2].song_comments)"></span></li>
															<li ng-show="value[3].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[3].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[3].song_title}}</a> | <span ng-bind-html="renderItemText(value[3].song_comments)"></span></li>
															<li ng-show="value[4].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[4].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[4].song_title}}</a> | <span ng-bind-html="renderItemText(value[4].song_comments)"></span></li>
															<li ng-show="value[5].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[5].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[5].song_title}}</a> | <span ng-bind-html="renderItemText(value[5].song_comments)"></span></li>
															<li ng-show="value[6].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[6].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[6].song_title}}</a> | <span ng-bind-html="renderItemText(value[6].song_comments)"></span></li>
															<li ng-show="value[7].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[7].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[7].song_title}}</a> | <span ng-bind-html="renderItemText(value[7].song_comments)"></span></li>
															<li ng-show="value[8].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[8].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[8].song_title}}</a> | <span ng-bind-html="renderItemText(value[8].song_comments)"></span></li>
															<li ng-show="value[9].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[9].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[9].song_title}}</a> | <span ng-bind-html="renderItemText(value[9].song_comments)"></span></li>
															<li ng-show="value[10].song_id"><a href="edit-song-from-comp/{{comp_id}}/song/{{value[10].song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{value[10].song_title}}</a> | <span ng-bind-html="renderItemText(value[10].song_comments)"></span></li>
														</ul>
													</div>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
