<div class="container-fluid">
	<form novalidate class="form" role="form" name="EditAboutForm" id="EditAboutForm" method="post">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fa fa-arrow-circle-up fa-fw" aria-hidden="true"></i> top
						</h4>
					</div> <!-- end of panel-heading -->
					<div class="panel-body">
						<div class="col-lg-6 pad-right-10 pad-left-0">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<i class="fa fa-arrow-circle-left fa-fw" aria-hidden="true"></i> left
									</h4>
								</div>
								<div class="panel-body">
			            <div class="form-group has-feedback text-angular" ng-class="{'has-success': EditAboutForm.top_left_para_1.$valid, 'has-invalid': EditAboutForm.top_left_para_1.$invalid && EditAboutForm.top_left_para_1.$dirty, 'has-error': EditAboutForm.top_left_para_1.$invalid && EditAboutForm.submitted}">
										<label for="top_left_para_1">paragraph 1:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.top_left_para_1.$invalid]">
											<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
											<text-angular name="top_left_para_1" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="about.top_left_para_1" data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
										</div>
										<div ng-show="EditAboutForm.top_left_para_1.$valid">
											<span ng-show="EditAboutForm.top_left_para_1.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.top_left_para_1.$invalid && EditAboutForm.top_left_para_1.$dirty">
											<span ng-show="EditAboutForm.top_left_para_1.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
			            <div class="form-group has-feedback text-angular" ng-class="{'has-success': EditAboutForm.top_left_para_2.$valid, 'has-invalid': EditAboutForm.top_left_para_2.$invalid && EditAboutForm.top_left_para_2.$dirty, 'has-error': EditAboutForm.top_left_para_2.$invalid && EditAboutForm.submitted}">
										<label for="top_left_para_2">paragraph 2:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.top_left_para_2.$invalid]">
											<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
											<text-angular name="top_left_para_2" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="about.top_left_para_2" data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
										</div>
										<div ng-show="EditAboutForm.top_left_para_2.$valid">
											<span ng-show="EditAboutForm.top_left_para_2.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.top_left_para_2.$invalid && EditAboutForm.top_left_para_2.$dirty">
											<span ng-show="EditAboutForm.top_left_para_2.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
			            <div class="form-group has-feedback text-angular" ng-class="{'has-success': EditAboutForm.top_left_para_3.$valid, 'has-invalid': EditAboutForm.top_left_para_3.$invalid && EditAboutForm.top_left_para_3.$dirty, 'has-error': EditAboutForm.top_left_para_3.$invalid && EditAboutForm.submitted}">
										<label for="top_left_para_3">paragraph 3:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.top_left_para_3.$invalid]">
											<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
											<text-angular name="top_left_para_3" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="about.top_left_para_3" data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
										</div>
										<div ng-show="EditAboutForm.top_left_para_3.$valid">
											<span ng-show="EditAboutForm.top_left_para_3.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.top_left_para_3.$invalid && EditAboutForm.top_left_para_3.$dirty">
											<span ng-show="EditAboutForm.top_left_para_3.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- end of first col -->

						<div class="col-lg-6 pad-left-10 pad-right-0">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										right <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i>
									</h4>
								</div>
								<div class="panel-body">
			            <div class="form-group has-feedback text-angular" ng-class="{'has-success': EditAboutForm.top_right_para_1.$valid, 'has-invalid': EditAboutForm.top_right_para_1.$invalid && EditAboutForm.top_right_para_1.$dirty, 'has-error': EditAboutForm.top_right_para_1.$invalid && EditAboutForm.submitted}">
			              <label for="top_right_para_1">paragraph:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.top_right_para_1.$invalid]">
											<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
			              	<text-angular name="top_right_para_1" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="about.top_right_para_1" data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
										</div>
										<div ng-show="EditAboutForm.top_right_para_1.$valid">
											<span ng-show="EditAboutForm.top_right_para_1.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.top_right_para_1.$invalid && EditAboutForm.top_right_para_1.$dirty">
											<span ng-show="EditAboutForm.top_right_para_1.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
			            </div>
								</div>
							</div>
						</div><!-- end of second col -->

					</div> <!-- end of panel-body -->
				</div> <!-- end of panel -->
			</div> <!-- end of col-lg-12 -->

			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fa fa-arrow-circle-down fa-fw" aria-hidden="true"></i> bottom
						</h4>
					</div> <!-- end of panel-heading -->
					<div class="panel-body">
						<div class="col-lg-6 pad-right-10 pad-left-0">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<i class="fa fa-arrow-circle-left fa-fw" aria-hidden="true"></i> left
									</h4>
								</div>
								<div class="panel-body">
									<div class="form-group has-feedback" ng-class="{'has-success': EditAboutForm.bottom_left_heading.$valid, 'has-invalid': EditAboutForm.bottom_left_heading.$invalid && EditAboutForm.bottom_left_heading.$dirty, 'has-error': EditAboutForm.bottom_left_heading.$invalid && EditAboutForm.submitted}">
										<label for="bottom_left_heading">heading:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.bottom_left_heading.$invalid]">
											<i class="fas fa-heading fa-fw" aria-hidden="true"></i>
											<input class="form-control" name="bottom_left_heading" type="text" ng-model="about.bottom_left_heading" required />
										</div>
										<div ng-show="EditAboutForm.bottom_left_heading.$valid">
											<span ng-show="EditAboutForm.bottom_left_heading.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.bottom_left_heading.$invalid && EditAboutForm.bottom_left_heading.$dirty">
											<span ng-show="EditAboutForm.bottom_left_heading.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
			            <div class="form-group has-feedback text-angular" ng-class="{'has-success': EditAboutForm.bottom_left_para.$valid, 'has-invalid': EditAboutForm.bottom_left_para.$invalid && EditAboutForm.bottom_left_para.$dirty, 'has-error': EditAboutForm.bottom_left_para.$invalid && EditAboutForm.submitted}">
										<label for="bottom_left_para">paragraph:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.bottom_left_para.$invalid]">
											<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
											<text-angular name="bottom_left_para" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="about.bottom_left_para"  data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
										</div>
										<div ng-show="EditAboutForm.bottom_left_para.$valid">
											<span ng-show="EditAboutForm.bottom_left_para.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.bottom_left_para.$invalid && EditAboutForm.bottom_left_para.$dirty">
											<span ng-show="EditAboutForm.bottom_left_para.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- end of first col -->

						<div class="col-lg-6 pad-left-10 pad-right-0">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										right <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i>
									</h4>
								</div>
								<div class="panel-body">
			            <div class="form-group has-feedback" ng-class="{'has-success': EditAboutForm.bottom_right_heading.$valid, 'has-invalid': EditAboutForm.bottom_right_heading.$invalid && EditAboutForm.bottom_right_heading.$dirty, 'has-error': EditAboutForm.bottom_right_heading.$invalid && EditAboutForm.submitted}">
										<label for="bottom_right_heading">heading:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.bottom_right_heading.$invalid]">
											<i class="fas fa-heading fa-fw" aria-hidden="true"></i>
											<input class="form-control" name="bottom_right_heading" type="text" ng-model="about.bottom_right_heading" required />
										</div>
										<div ng-show="EditAboutForm.bottom_right_heading.$valid">
											<span ng-show="EditAboutForm.bottom_right_heading.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.bottom_right_heading.$invalid && EditAboutForm.bottom_right_heading.$dirty">
											<span ng-show="EditAboutForm.bottom_right_heading.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
			            <div class="form-group has-feedback text-angular" ng-class="{'has-success': EditAboutForm.bottom_right_para_1.$valid, 'has-invalid': EditAboutForm.bottom_right_para_1.$invalid && EditAboutForm.bottom_right_para_1.$dirty, 'has-error': EditAboutForm.bottom_right_para_1.$invalid && EditAboutForm.submitted}">
										<label for="bottom_right_para_1">paragraph 1:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.bottom_right_para_1.$invalid]">
											<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
											<text-angular name="bottom_right_para_1" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="about.bottom_right_para_1"  data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
										</div>
										<div ng-show="EditAboutForm.bottom_right_para_1.$valid">
											<span ng-show="EditAboutForm.bottom_right_para_1.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.bottom_right_para_1.$invalid && EditAboutForm.bottom_right_para_1.$dirty">
											<span ng-show="EditAboutForm.bottom_right_para_1.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
			            <div class="form-group has-feedback text-angular" ng-class="{'has-success': EditAboutForm.bottom_right_para_2.$valid, 'has-invalid': EditAboutForm.bottom_right_para_2.$invalid && EditAboutForm.bottom_right_para_2.$dirty, 'has-error': EditAboutForm.bottom_right_para_2.$invalid && EditAboutForm.submitted}">
										<label for="bottom_right_para_2">paragraph 2:</label>
										<div class="input-icon" ng-class="{true: 'error'}[EditAboutForm.submitted && EditAboutForm.bottom_right_para_2.$invalid]">
											<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
											<text-angular name="bottom_right_para_2" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="about.bottom_right_para_2"  data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
										</div>
										<div ng-show="EditAboutForm.bottom_right_para_2.$valid">
											<span ng-show="EditAboutForm.bottom_right_para_2.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										</div>
										<div ng-show="EditAboutForm.bottom_right_para_2.$invalid && EditAboutForm.bottom_right_para_2.$dirty">
											<span ng-show="EditAboutForm.bottom_right_para_2.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
									</div>
								</div>
							</div>
						</div><!-- end of second col -->
						<button class="btn btn-info" ng-disabled="EditAboutForm.$invalid || isUnchanged(about)" id="edit-about-btn" ng-click="update(about)"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
						<a href="#/" class="btn btn-cancel"> Cancel</a>
					</div> <!-- end of panel-body -->
				</div> <!-- end of panel -->
			</div> <!-- end of col-lg-12 -->
		</div><!-- end of first row -->
	</form>
</div>
