<div class="container-fluid">
	<form novalidate class="form" role="form" name="EditSettingsForm" id="EditSettingsForm" method="post" enctype="multiple/form-data">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fa fa-sitemap" ></i> edit site settings
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.SiteTitle.$valid, 'has-invalid': EditSettingsForm.SiteTitle.$invalid && EditSettingsForm.SiteTitle.$dirty, 'has-error': EditSettingsForm.SiteTitle.$invalid && EditSettingsForm.submitted}">
							<label for="SiteTitle">name:</label>
							<div class="input-icon" ng-class="{true: 'error'}[EditSettingsForm.submitted && EditSettingsForm.SiteTitle.$invalid]">
								<i class="fas fa-comment-dots fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="SiteTitle" type="text" ng-model="setting.SiteTitle" placeholder="site name (required)" required autofocus focus-me />
							</div>
							<h6 class="help-block">Used for title of each page.</h6>
							<div ng-show="EditSettingsForm.SiteTitle.$valid">
								<span ng-show="EditSettingsForm.SiteTitle.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.SiteTitle.$invalid && EditSettingsForm.SiteTitle.$dirty">
								<span ng-show="EditSettingsForm.SiteTitle.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.SiteKeywords.$valid, 'has-invalid': EditSettingsForm.SiteKeywords.$invalid && EditSettingsForm.SiteKeywords.$dirty, 'has-error': EditSettingsForm.SiteKeywords.$invalid && EditSettingsForm.submitted}">
							<label for="SiteKeywords">keywords:</label>
							<div class="input-icon">
								<i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
								<textarea class="form-control" rows="3" name="SiteKeywords" ng-model="setting.SiteKeywords" required></textarea>
							</div>
							<h6 class="help-block">Used for meta data.</h6>
							<div ng-show="EditSettingsForm.SiteKeywords.$valid">
								<span ng-show="EditSettingsForm.SiteKeywords.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.SiteKeywords.$invalid && EditSettingsForm.SiteKeywords.$dirty">
								<span ng-show="EditSettingsForm.SiteKeywords.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.SiteDesc.$valid, 'has-invalid': EditSettingsForm.SiteDesc.$invalid && EditSettingsForm.SiteDesc.$dirty, 'has-error': EditSettingsForm.SiteDesc.$invalid && EditSettingsForm.submitted}">
							<label for="SiteKeywords">description:</label>
							<div class="input-icon" ng-class="{true: 'error'}[EditSettingsForm.submitted && EditSettingsForm.SiteDesc.$invalid]">
								<i class="fas fa-comment-dots fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="SiteDesc" type="text" ng-model="setting.SiteDesc" required />
							</div>
							<h6 class="help-block">Used for meta data.</h6>
							<div ng-show="EditSettingsForm.SiteDesc.$valid">
								<span ng-show="EditSettingsForm.SiteDesc.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.SiteDesc.$invalid && EditSettingsForm.SiteDesc.$dirty">
								<span ng-show="EditSettingsForm.SiteDesc.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.SiteURL.$valid, 'has-invalid': EditSettingsForm.SiteURL.$invalid && EditSettingsForm.SiteURL.$dirty, 'has-error': EditSettingsForm.SiteURL.$invalid && EditSettingsForm.submitted}">
							<label for="SiteKeywords">URL:</label>
							<div class="input-icon" ng-class="{true: 'error'}[EditSettingsForm.submitted && EditSettingsForm.SiteURL.$invalid]">
								<i class="fa fa-link fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="SiteURL" type="text" ng-model="setting.SiteURL" required />
							</div>
							<h6 class="help-block">Used for SEO Structured Data.</h6>
							<div ng-show="EditSettingsForm.SiteURL.$valid">
								<span ng-show="EditSettingsForm.SiteURL.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.SiteURL.$invalid && EditSettingsForm.SiteURL.$dirty">
								<span ng-show="EditSettingsForm.SiteURL.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.ContactEmail.$valid, 'has-invalid': EditSettingsForm.ContactEmail.$invalid && EditSettingsForm.ContactEmail.$dirty, 'has-error': EditSettingsForm.ContactEmail.$invalid && EditSettingsForm.submitted}">
							<label for="ContactEmail">email:</label>
							<div class="input-icon" ng-class="{true: 'error'}[EditSettingsForm.submitted && EditSettingsForm.ContactEmail.$invalid]">
								<i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="ContactEmail" type="text" ng-model="setting.ContactEmail" required />
							</div>
							<h6 class="help-block">Used for contact section.</h6>
							<div ng-show="EditSettingsForm.ContactEmail.$valid">
								<span ng-show="EditSettingsForm.ContactEmail.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.ContactEmail.$invalid && EditSettingsForm.ContactEmail.$dirty">
								<span ng-show="EditSettingsForm.ContactEmail.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.ContactPhone.$valid, 'has-invalid': EditSettingsForm.ContactPhone.$invalid && EditSettingsForm.ContactPhone.$dirty, 'has-error': EditSettingsForm.ContactPhone.$invalid && EditSettingsForm.submitted}">
							<label for="ContactPhone">phone:</label>
							<div class="input-icon" ng-class="{true: 'error'}[EditSettingsForm.submitted && EditSettingsForm.ContactPhone.$invalid]">
								<i class="fa fa-phone fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="ContactPhone" type="text" ng-model="setting.ContactPhone" required />
							</div>
							<h6 class="help-block">Used for contact section.</h6>
							<div ng-show="EditSettingsForm.ContactPhone.$valid">
								<span ng-show="EditSettingsForm.ContactPhone.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.ContactPhone.$invalid && EditSettingsForm.ContactPhone.$dirty">
								<span ng-show="EditSettingsForm.ContactPhone.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>




						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.logo.$valid, 'has-invalid': EditSettingsForm.logo.$invalid && EditSettingsForm.logo.$dirty, 'has-error': EditSettingsForm.logo.$invalid && EditSettingsForm.submitted}">
							<div class="fileinput fileinput-{{logoClass}}" data-provides="fileinput">
								<div class="fileinput-new thumbnail">
									<img ng-src="img/125-no-image.gif" class="img-responsive">
								</div>
								<div class="fileinput-preview fileinput-exists thumbnail">
									<img ng-src="{{setting.logo}}" />
								</div>
								<div>
									<span class="btn btn-info btn-file"><span class="fileinput-new"><i class="fas fa-image"></i> Select logo...</span><span class="fileinput-exists"><i class="fas fa-edit"></i> Change</span><input type="file" id="logo" name="logo" class="btn btn-primary" portrait-input="logos"></span>
									<a href="" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
								</div>
							</div>
							<ul class="list-group file-info" ng-repeat="logo in logos">
								 <li class="list-group-item"><strong>name:</strong> {{logo.name}}</li>
								 <li class="list-group-item"><strong>type:</strong> {{logo.type}}</li>
								 <li class="list-group-item"><strong>size:</strong> {{logo.size}}kb</li>
							</ul>

							<h6 class="help-block">Used site wide and for SEO Structured Data.</h6>
							<div ng-show="EditSettingsForm.logo.$valid">
								<span ng-show="EditSettingsForm.logo.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.logo.$invalid && EditSettingsForm.logo.$dirty">
								<span ng-show="EditSettingsForm.logo.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>










					</div>
				</div>
			</div> <!-- end of first col -->

			<div class="col-lg-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fa fa-quote-left fa-fw" aria-hidden="true"></i> page quotes
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.sitequote.$valid, 'has-invalid': EditSettingsForm.sitequote.$invalid && EditSettingsForm.sitequote.$dirty, 'has-error': EditSettingsForm.sitequote.$invalid && EditSettingsForm.submitted}">
							<label for="sitequote">site quote:</label>
							<div class="input-icon">
								<i class="fa fa-quote-left fa-fw" aria-hidden="true"></i>
								<textarea class="form-control" rows="3" name="sitequote" ng-model="setting.sitequote" required></textarea>
							</div>
							<h6 class="help-block">Used in featured section.</h6>
							<div ng-show="EditSettingsForm.sitequote.$valid">
								<span ng-show="EditSettingsForm.sitequote.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.sitequote.$invalid && EditSettingsForm.sitequote.$dirty">
								<span ng-show="EditSettingsForm.sitequote.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.homequote.$valid, 'has-invalid': EditSettingsForm.homequote.$invalid && EditSettingsForm.homequote.$dirty, 'has-error': EditSettingsForm.homequote.$invalid && EditSettingsForm.submitted}">
							<label for="homequote">home quote:</label>
							<div class="input-icon">
								<i class="fa fa-quote-left fa-fw" aria-hidden="true"></i>
								<textarea class="form-control" rows="3" name="homequote" ng-model="setting.homequote" required></textarea>
							</div>
							<h6 class="help-block">Used in home page ribbon.</h6>
							<div ng-show="EditSettingsForm.homequote.$valid">
								<span ng-show="EditSettingsForm.homequote.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.homequote.$invalid && EditSettingsForm.homequote.$dirty">
								<span ng-show="EditSettingsForm.homequote.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.rosterquote.$valid, 'has-invalid': EditSettingsForm.rosterquote.$invalid && EditSettingsForm.rosterquote.$dirty, 'has-error': EditSettingsForm.rosterquote.$invalid && EditSettingsForm.submitted}">
							<label for="rosterquote">roster quote:</label>
							<div class="input-icon">
								<i class="fa fa-quote-left fa-fw" aria-hidden="true"></i>
								<textarea class="form-control" rows="3" name="rosterquote" ng-model="setting.rosterquote" required></textarea>
							</div>
							<h6 class="help-block">Used in roster page ribbon.</h6>
							<div ng-show="EditSettingsForm.rosterquote.$valid">
								<span ng-show="EditSettingsForm.rosterquote.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.rosterquote.$invalid && EditSettingsForm.rosterquote.$dirty">
								<span ng-show="EditSettingsForm.rosterquote.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.placementsquote.$valid, 'has-invalid': EditSettingsForm.placementsquote.$invalid && EditSettingsForm.placementsquote.$dirty, 'has-error': EditSettingsForm.placementsquote.$invalid && EditSettingsForm.submitted}">
							<label for="placementsquote">licenses quote:</label>
							<div class="input-icon">
								<i class="fa fa-quote-left fa-fw" aria-hidden="true"></i>
								<textarea class="form-control" rows="3" name="placementsquote" ng-model="setting.placementsquote" required></textarea>
							</div>
							<h6 class="help-block">Used in licenses page ribbon.</h6>
							<div ng-show="EditSettingsForm.placementsquote.$valid">
								<span ng-show="EditSettingsForm.placementsquote.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.placementsquote.$invalid && EditSettingsForm.placementsquote.$dirty">
								<span ng-show="EditSettingsForm.placementsquote.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.compsquote.$valid, 'has-invalid': EditSettingsForm.compsquote.$invalid && EditSettingsForm.compsquote.$dirty, 'has-error': EditSettingsForm.compsquote.$invalid && EditSettingsForm.submitted}">
							<label for="compsquote">comps quote:</label>
							<div class="input-icon">
								<i class="fa fa-quote-left fa-fw" aria-hidden="true"></i>
								<textarea class="form-control" rows="3" name="compsquote" ng-model="setting.compsquote" required></textarea>
							</div>
							<h6 class="help-block">Used in comps page ribbon.</h6>
							<div ng-show="EditSettingsForm.compsquote.$valid">
								<span ng-show="EditSettingsForm.compsquote.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.compsquote.$invalid && EditSettingsForm.compsquote.$dirty">
								<span ng-show="EditSettingsForm.compsquote.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<div class="form-group has-feedback" ng-class="{'has-success': EditSettingsForm.aboutquote.$valid, 'has-invalid': EditSettingsForm.aboutquote.$invalid && EditSettingsForm.aboutquote.$dirty, 'has-error': EditSettingsForm.aboutquote.$invalid && EditSettingsForm.submitted}">
							<label for="aboutquote">about quote:</label>
							<div class="input-icon">
								<i class="fa fa-quote-left fa-fw" aria-hidden="true"></i>
								<textarea class="form-control" rows="3" name="aboutquote" ng-model="setting.aboutquote" required></textarea>
							</div>
							<h6 class="help-block">Used in about page ribbon.</h6>
							<div ng-show="EditSettingsForm.aboutquote.$valid">
								<span ng-show="EditSettingsForm.aboutquote.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSettingsForm.aboutquote.$invalid && EditSettingsForm.aboutquote.$dirty">
								<span ng-show="EditSettingsForm.aboutquote.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</div>
				</div>
			</div><!-- end of second col -->
		</div><!-- end of first row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<button class="btn btn-info" ng-disabled="EditSettingsForm.$invalid || isUnchanged(setting)" id="edit-settings-btn" ng-click="update(setting)"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
						<a href="#/" class="btn btn-cancel">Cancel</a>
					</div><!-- end of panel-body -->
				</div><!-- end of panel -->
			</div><!-- end of third col -->
		</div><!-- end of second row -->
	</form>
</div>
