<div class="container-fluid">
	<form novalidate class="form" role="form" name="EditSAHItemForm" id="EditSAHItemForm" method="post">
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-green">
					<div class="panel-heading">
						<div class="nav-btns pull-right">
							<a ng-show="links.prevValue!=null" href="#/edit-sah-item/{{item.sceneID}}/item/{{links.prevValue}}" class="btn btn-xs btn-default margin-top-4"><i class="fas fa-chevron-left fa-fw" aria-hidden="true"></i> </a>&nbsp;
							<a ng-show="links.nextValue!=null" href="#/edit-sah-item/{{item.sceneID}}/item/{{links.nextValue}}" class="btn btn-xs btn-default margin-top-4"> <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i></a>
						</div>
						<h4 class="panel-title">
							<i class="fas fa-edit fa-fw" aria-hidden="true"></i> item info | <a href="#/sah-items/{{item.sceneID}}">{{item.sceneName}}</a>
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group has-feedback" ng-class="{'has-success': EditSAHItemForm.itemHeader.$valid, 'has-invalid': EditSAHItemForm.itemHeader.$invalid && EditSAHItemForm.itemHeader.$dirty, 'has-error': EditSAHItemForm.itemHeader.$invalid && AddSongForm.submitted}">
							<label for="itemHeader">name:</label>
							<div class="input-icon">
								<i class="fa fa-flag fa-fw" aria-hidden="true"></i>
								<input class="form-control" name="itemHeader" type="text" ng-model="item.itemHeader" placeholder="name (required)" required autofocus focus-me />
							</div>
							<div ng-show="EditSAHItemForm.itemHeader.$valid">
								<span ng-show="EditSAHItemForm.itemHeader.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							</div>
							<div ng-show="EditSAHItemForm.itemHeader.$invalid && EditSAHItemForm.itemHeader.$dirty">
								<span ng-show="EditSAHItemForm.itemHeader.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-xs-10">
									<label for="itemMedia">media:</label>
									<select class="form-control" name="itemMedia" ng-model="item.itemMedia" selectpicker data-style="white" title="Select item media" data-width="100%" ng-required="true">
										<option value=""></option>
										<option value="TV">TV</option>
										<option value="MOVIE">MOVIE</option>
										<option value="AUDIO">AUDIO</option>
										<option value="GAME">GAME</option>
										<option value="PROMO">PROMO</option>
									</select>
								</div>
								<div class="col-xs-2">
									<label for="itemOrder">sort:</label>
									<div class="input-icon">
										<i class="fas fa-sort-numeric-down fa-fw" aria-hidden="true"></i>
										<input type="text" name="itemOrder" id="itemOrder" class="form-control" ng-model="item.itemOrder" />
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-info" ng-disabled="EditSAHItemForm.$invalid || isUnchanged(item)" id="add-new-btn" ng-click="update(item)"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
						<button class="btn btn-danger" ng-click="delete(item)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
						<a href="#/sah-items/{{sceneID}}" class="btn btn-cancel">Cancel</a>
					</div>
				</div>

			</div>

			<div class="col-lg-6">
				<div class="panel panel-green-light">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i class="fas fa-comment-dots" ></i> description
						</h4>
					</div>
					<div class="panel-body">
						<div class="form-group has-feedback text-angular" ng-class="{'has-success': EditSAHItemForm.itemText.$valid, 'has-invalid': EditSAHItemForm.itemText.$invalid && EditSAHItemForm.itemText.$dirty, 'has-error': EditSAHItemForm.itemText.$invalid && EditSAHItemForm.submitted}">
						<div class="input-icon" ng-class="{true: 'error'}[EditSAHItemForm.submitted && EditSAHItemForm.itemText.$invalid]">
							<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
							<text-angular ng-model="item.itemText" name="itemText" placeholder="something pithy goes here..." ng-required="true" ta-default-wrap="span" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
						</div>
						<div ng-show="EditSAHItemForm.itemText.$valid">
							<span ng-show="EditSAHItemForm.itemText.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
						</div>
						<div ng-show="EditSAHItemForm.itemText.$invalid && EditSAHItemForm.itemText.$dirty">
							<span ng-show="EditSAHItemForm.itemText.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</form>
</div>
