<div class="container-fluid">
	<form novalidate class="form" role="form" name="EditContactForm" id="EditContactForm" method="post">
		<div class="row">
		  <div class="col-lg-12">
		    <div class="panel">
          <div class="ona-portlet ona-portlet--height-fluid ona-portlet--head-lg ona--portlet__info">
            <div class="ona-portlet__head ona-portlet__head--noborder ona-portlet__space-x">
              <div class="ona-portlet__head-label">
                <h3 class="ona-portlet__head-title">
                  <span class="ona-widget__icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon">
									    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <rect x="0" y="0" width="24" height="24"/>
								        <path d="M11.575,21.2 C6.175,21.2 2.85,17.4 2.85,12.575 C2.85,6.875 7.375,3.05 12.525,3.05 C17.45,3.05 21.125,6.075 21.125,10.85 C21.125,15.2 18.825,16.925 16.525,16.925 C15.4,16.925 14.475,16.4 14.075,15.65 C13.3,16.4 12.125,16.875 11,16.875 C8.25,16.875 6.85,14.925 6.85,12.575 C6.85,9.55 9.05,7.1 12.275,7.1 C13.2,7.1 13.95,7.35 14.525,7.775 L14.625,7.35 L17,7.35 L15.825,12.85 C15.6,13.95 15.85,14.825 16.925,14.825 C18.25,14.825 19.025,13.725 19.025,10.8 C19.025,6.9 15.95,5.075 12.5,5.075 C8.625,5.075 5.05,7.75 5.05,12.575 C5.05,16.525 7.575,19.1 11.575,19.1 C13.075,19.1 14.625,18.775 15.975,18.075 L16.8,20.1 C15.25,20.8 13.2,21.2 11.575,21.2 Z M11.4,14.525 C12.05,14.525 12.7,14.35 13.225,13.825 L14.025,10.125 C13.575,9.65 12.925,9.425 12.3,9.425 C10.65,9.425 9.45,10.7 9.45,12.375 C9.45,13.675 10.075,14.525 11.4,14.525 Z" fill="#000000"/>
									    </g>
										</svg>
                  </span>
                  Contact Us
                </h3>
              </div>
            </div>
            <div class="ona-portlet__body ona-portlet__body--fit">
              <div class="ona-widget">
                <div class="ona-widget__visual ona-widget__info">
                </div>
                <div class="ona-widget__stats">
									<div class="col-lg-12">
	                  <div class="ona-widget__items">
	                    <div class="ona-widget__item">
	                      <span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--info">
											    	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <rect fill="#000000" x="2" y="5" width="19" height="4" rx="1"/>
											        <rect fill="#000000" opacity="0.3" x="2" y="11" width="19" height="10" rx="1"/>
												    </g>
													</svg>
	                      </span>
	                      <span class="ona-widget__subtitle">
	                        Top
	                      </span>
	                      <span class="ona-widget__desc">
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.main_heading.$valid, 'has-invalid': EditContactForm.main_heading.$invalid && EditContactForm.main_heading.$dirty, 'has-error': EditContactForm.main_heading.$invalid && EditContactForm.submitted}">
														<label for="main_heading">main heading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.main_heading.$invalid]">
															<i class="fas fa-heading fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="main_heading" type="text" ng-model="contact.main_heading" required />
														</div>
														<div ng-show="EditContactForm.main_heading.$valid">
															<span ng-show="EditContactForm.main_heading.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.main_heading.$invalid && EditContactForm.main_heading.$dirty">
															<span ng-show="EditContactForm.main_heading.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.main_subhead.$valid, 'has-invalid': EditContactForm.main_subhead.$invalid && EditContactForm.main_subhead.$dirty, 'has-error': EditContactForm.main_subhead.$invalid && EditContactForm.submitted}">
														<label for="main_subhead">main subheading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.main_subhead.$invalid]">
															<i class="fas fa-font fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="main_subhead" type="text" ng-model="contact.main_subhead" required />
														</div>
														<div ng-show="EditContactForm.main_subhead.$valid">
															<span ng-show="EditContactForm.main_subhead.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.main_subhead.$invalid && EditContactForm.main_subhead.$dirty">
															<span ng-show="EditContactForm.main_subhead.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
	                      </span>
	                    </div>
	                  </div>
									</div>
									<div class="col-lg-6">
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--info">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <rect fill="#000000" x="9" y="5" width="13" height="14" rx="1.5"/>
											        <rect fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Left
												</span>
												<span class="ona-widget__desc">
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.top_left_icon.$valid, 'has-invalid': EditContactForm.top_left_icon.$invalid && EditContactForm.top_left_icon.$dirty, 'has-error': EditContactForm.top_left_icon.$invalid && EditContactForm.submitted}">
														<label for="top_left_icon">icon</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.top_left_icon.$invalid]">
															<i class="fas fa-icons fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="top_left_icon" type="text" ng-model="contact.top_left_icon" required />
														</div>
														<h6 class="help-block"><i class="fas fa-info-circle fa-fw text-green" aria-hidden="true"></i> Material Design icon textual name. <a href="https://material.io/resources/icons/?style=baseline" target="_blank" rel="noopener"> Click here <i class="fas fa-external-link-alt fa-fw" aria-hidden="true"></i></a>  for a list of material design icons.</h6>
														<div ng-show="EditContactForm.top_left_icon.$valid">
															<span ng-show="EditContactForm.top_left_icon.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.top_left_icon.$invalid && EditContactForm.top_left_icon.$dirty">
															<span ng-show="EditContactForm.top_left_icon.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.top_left_heading.$valid, 'has-invalid': EditContactForm.top_left_heading.$invalid && EditContactForm.top_left_heading.$dirty, 'has-error': EditContactForm.top_left_heading.$invalid && EditContactForm.submitted}">
														<label for="top_left_heading">heading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.top_left_heading.$invalid]">
															<i class="fas fa-heading fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="top_left_heading" type="text" ng-model="contact.top_left_heading" required />
														</div>
														<div ng-show="EditContactForm.top_left_heading.$valid">
															<span ng-show="EditContactForm.top_left_heading.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.top_left_heading.$invalid && EditContactForm.top_left_heading.$dirty">
															<span ng-show="EditContactForm.top_left_heading.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.top_left_subhead.$valid, 'has-invalid': EditContactForm.top_left_subhead.$invalid && EditContactForm.top_left_subhead.$dirty, 'has-error': EditContactForm.top_left_subhead.$invalid && EditContactForm.submitted}">
														<label for="top_left_subhead">subheading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.top_left_subhead.$invalid]">
															<i class="fas fa-font fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="top_left_subhead" type="text" ng-model="contact.top_left_subhead" required />
														</div>
														<div ng-show="EditContactForm.top_left_subhead.$valid">
															<span ng-show="EditContactForm.top_left_subhead.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.top_left_subhead.$invalid && EditContactForm.top_left_subhead.$dirty">
															<span ng-show="EditContactForm.top_left_subhead.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback text-angular" ng-class="{'has-success': EditContactForm.top_left_para.$valid, 'has-invalid': EditContactForm.top_left_para.$invalid && EditContactForm.top_left_para.$dirty, 'has-error': EditContactForm.top_left_para.$invalid && EditContactForm.submitted}">
														<label for="top_left_para">paragraph</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.top_left_para.$invalid]">
															<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
															<text-angular name="top_left_para" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="contact.top_left_para" data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
														</div>
														<div ng-show="EditContactForm.top_left_para.$valid">
															<span ng-show="EditContactForm.top_left_para.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.top_left_para.$invalid && EditContactForm.top_left_para.$dirty">
															<span ng-show="EditContactForm.top_left_para.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
												</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--info">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <rect fill="#000000" x="2" y="5" width="13" height="14" rx="1.5"/>
											        <rect fill="#000000" opacity="0.3" x="17" y="5" width="5" height="14" rx="1"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Right
												</span>
												<span class="ona-widget__desc">
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.top_right_icon.$valid, 'has-invalid': EditContactForm.top_right_icon.$invalid && EditContactForm.top_right_icon.$dirty, 'has-error': EditContactForm.top_right_icon.$invalid && EditContactForm.submitted}">
														<label for="top_right_icon">icon</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.top_right_icon.$invalid]">
															<i class="fas fa-icons fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="top_right_icon" type="text" ng-model="contact.top_right_icon" required />
														</div>
														<h6 class="help-block"><i class="fas fa-info-circle fa-fw text-green" aria-hidden="true"></i> Material Design icon textual name. <a href="https://material.io/resources/icons/?style=baseline" target="_blank" rel="noopener"> Click here <i class="fas fa-external-link-alt fa-fw" aria-hidden="true"></i></a>  for a list of material design icons.</h6>
														<div ng-show="EditContactForm.top_right_icon.$valid">
															<span ng-show="EditContactForm.top_right_icon.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.top_right_icon.$invalid && EditContactForm.top_right_icon.$dirty">
															<span ng-show="EditContactForm.top_right_icon.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.top_right_heading.$valid, 'has-invalid': EditContactForm.top_right_heading.$invalid && EditContactForm.top_right_heading.$dirty, 'has-error': EditContactForm.top_right_heading.$invalid && EditContactForm.submitted}">
														<label for="top_right_heading">heading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.top_right_heading.$invalid]">
															<i class="fas fa-heading fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="top_right_heading" type="text" ng-model="contact.top_right_heading" required />
														</div>
														<div ng-show="EditContactForm.top_right_heading.$valid">
															<span ng-show="EditContactForm.top_right_heading.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.top_right_heading.$invalid && EditContactForm.top_right_heading.$dirty">
															<span ng-show="EditContactForm.top_right_heading.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.top_right_subhead.$valid, 'has-invalid': EditContactForm.top_right_subhead.$invalid && EditContactForm.top_right_subhead.$dirty, 'has-error': EditContactForm.top_right_subhead.$invalid && EditContactForm.submitted}">
														<label for="top_right_subhead">subheading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.top_right_subhead.$invalid]">
															<i class="fas fa-font fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="top_right_subhead" type="text" ng-model="contact.top_right_subhead" required />
														</div>
														<div ng-show="EditContactForm.top_right_subhead.$valid">
															<span ng-show="EditContactForm.top_right_subhead.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.top_right_subhead.$invalid && EditContactForm.top_right_subhead.$dirty">
															<span ng-show="EditContactForm.top_right_subhead.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback text-angular" ng-class="{'has-success': EditContactForm.top_right_para.$valid, 'has-invalid': EditContactForm.top_right_para.$invalid && EditContactForm.top_right_para.$dirty, 'has-error': EditContactForm.top_right_para.$invalid && EditContactForm.submitted}">
														<label for="top_right_para">paragraph</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.top_right_para.$invalid]">
															<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
															<text-angular name="top_right_para" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="contact.top_right_para" data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
														</div>
														<div ng-show="EditContactForm.top_right_para.$valid">
															<span ng-show="EditContactForm.top_right_para.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.top_right_para.$invalid && EditContactForm.top_right_para.$dirty">
															<span ng-show="EditContactForm.top_right_para.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
												</span>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--info">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <rect fill="#000000" opacity="0.3" x="4" y="5" width="16" height="6" rx="1.5"/>
											        <rect fill="#000000" x="4" y="13" width="16" height="6" rx="1.5"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Bottom
												</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--info">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <rect fill="#000000" x="9" y="5" width="13" height="14" rx="1.5"/>
											        <rect fill="#000000" opacity="0.3" x="2" y="5" width="5" height="14" rx="1"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Left
												</span>
												<span class="ona-widget__desc">
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.bottom_left_icon.$valid, 'has-invalid': EditContactForm.bottom_left_icon.$invalid && EditContactForm.bottom_left_icon.$dirty, 'has-error': EditContactForm.bottom_left_icon.$invalid && EditContactForm.submitted}">
														<label for="bottom_left_icon">icon</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.bottom_left_icon.$invalid]">
															<i class="fas fa-icons fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="bottom_left_icon" type="text" ng-model="contact.bottom_left_icon" required />
														</div>
														<h6 class="help-block"><i class="fas fa-info-circle fa-fw text-green" aria-hidden="true"></i> Material Design icon textual name. <a href="https://material.io/resources/icons/?style=baseline" target="_blank" rel="noopener"> Click here <i class="fas fa-external-link-alt fa-fw" aria-hidden="true"></i></a>  for a list of material design icons.</h6>
														<div ng-show="EditContactForm.bottom_left_icon.$valid">
															<span ng-show="EditContactForm.bottom_left_icon.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.bottom_left_icon.$invalid && EditContactForm.bottom_left_icon.$dirty">
															<span ng-show="EditContactForm.bottom_left_icon.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.bottom_left_heading.$valid, 'has-invalid': EditContactForm.bottom_left_heading.$invalid && EditContactForm.bottom_left_heading.$dirty, 'has-error': EditContactForm.bottom_left_heading.$invalid && EditContactForm.submitted}">
														<label for="bottom_left_heading">heading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.bottom_left_heading.$invalid]">
															<i class="fas fa-heading fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="bottom_left_heading" type="text" ng-model="contact.bottom_left_heading" required />
														</div>
														<div ng-show="EditContactForm.bottom_left_heading.$valid">
															<span ng-show="EditContactForm.bottom_left_heading.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.bottom_left_heading.$invalid && EditContactForm.bottom_left_heading.$dirty">
															<span ng-show="EditContactForm.bottom_left_heading.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.bottom_left_subhead.$valid, 'has-invalid': EditContactForm.bottom_left_subhead.$invalid && EditContactForm.bottom_left_subhead.$dirty, 'has-error': EditContactForm.bottom_left_subhead.$invalid && EditContactForm.submitted}">
														<label for="bottom_left_subhead">subheading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.bottom_left_subhead.$invalid]">
															<i class="fas fa-font fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="bottom_left_subhead" type="text" ng-model="contact.bottom_left_subhead" required />
														</div>
														<div ng-show="EditContactForm.bottom_left_subhead.$valid">
															<span ng-show="EditContactForm.bottom_left_subhead.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.bottom_left_subhead.$invalid && EditContactForm.bottom_left_subhead.$dirty">
															<span ng-show="EditContactForm.bottom_left_subhead.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
							            <div class="form-group has-feedback text-angular" ng-class="{'has-success': EditContactForm.bottom_left_para.$valid, 'has-invalid': EditContactForm.bottom_left_para.$invalid && EditContactForm.bottom_left_para.$dirty, 'has-error': EditContactForm.bottom_left_para.$invalid && EditContactForm.submitted}">
							              <label for="bottom_left_para">paragraph</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.bottom_left_para.$invalid]">
															<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
								              <text-angular name="bottom_left_para" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="contact.bottom_left_para" data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
														</div>
														<div ng-show="EditContactForm.bottom_left_para.$valid">
															<span ng-show="EditContactForm.bottom_left_para.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.bottom_left_para.$invalid && EditContactForm.bottom_left_para.$dirty">
															<span ng-show="EditContactForm.bottom_left_para.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
							            </div>
												</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="ona-widget__items">
											<div class="ona-widget__item">
												<span class="ona-widget__icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--info">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <rect x="0" y="0" width="24" height="24"/>
											        <rect fill="#000000" x="2" y="5" width="13" height="14" rx="1.5"/>
											        <rect fill="#000000" opacity="0.3" x="17" y="5" width="5" height="14" rx="1"/>
												    </g>
													</svg>
												</span>
												<span class="ona-widget__subtitle">
													Right
												</span>
												<span class="ona-widget__desc">
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.bottom_right_icon.$valid, 'has-invalid': EditContactForm.bottom_right_icon.$invalid && EditContactForm.bottom_right_icon.$dirty, 'has-error': EditContactForm.bottom_right_icon.$invalid && EditContactForm.submitted}">
														<label for="bottom_right_icon">icon</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.bottom_right_icon.$invalid]">
															<i class="fas fa-icons fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="bottom_right_icon" type="text" ng-model="contact.bottom_right_icon" required />
														</div>
														<h6 class="help-block"><i class="fas fa-info-circle fa-fw text-green" aria-hidden="true"></i> Material Design icon textual name. <a href="https://material.io/resources/icons/?style=baseline" target="_blank" rel="noopener"> Click here <i class="fas fa-external-link-alt fa-fw" aria-hidden="true"></i></a>  for a list of material design icons.</h6>
														<div ng-show="EditContactForm.bottom_right_icon.$valid">
															<span ng-show="EditContactForm.bottom_right_icon.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.bottom_right_icon.$invalid && EditContactForm.bottom_right_icon.$dirty">
															<span ng-show="EditContactForm.bottom_right_icon.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.bottom_right_heading.$valid, 'has-invalid': EditContactForm.bottom_right_heading.$invalid && EditContactForm.bottom_right_heading.$dirty, 'has-error': EditContactForm.bottom_right_heading.$invalid && EditContactForm.submitted}">
														<label for="bottom_right_heading">heading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.bottom_right_heading.$invalid]">
															<i class="fas fa-heading fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="bottom_right_heading" type="text" ng-model="contact.bottom_right_heading" required />
														</div>
														<div ng-show="EditContactForm.bottom_right_heading.$valid">
															<span ng-show="EditContactForm.bottom_right_heading.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.bottom_right_heading.$invalid && EditContactForm.bottom_right_heading.$dirty">
															<span ng-show="EditContactForm.bottom_right_heading.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback" ng-class="{'has-success': EditContactForm.bottom_right_subhead.$valid, 'has-invalid': EditContactForm.bottom_right_subhead.$invalid && EditContactForm.bottom_right_subhead.$dirty, 'has-error': EditContactForm.bottom_right_subhead.$invalid && EditContactForm.submitted}">
														<label for="bottom_right_subhead">subheading</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.bottom_right_subhead.$invalid]">
															<i class="fas fa-font fa-fw" aria-hidden="true"></i>
															<input class="form-control" name="bottom_right_subhead" type="text" ng-model="contact.bottom_right_subhead" required />
														</div>
														<div ng-show="EditContactForm.bottom_right_subhead.$valid">
															<span ng-show="EditContactForm.bottom_right_subhead.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.bottom_right_subhead.$invalid && EditContactForm.bottom_right_subhead.$dirty">
															<span ng-show="EditContactForm.bottom_right_subhead.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
													<div class="form-group has-feedback text-angular" ng-class="{'has-success': EditContactForm.bottom_right_para.$valid, 'has-invalid': EditContactForm.bottom_right_para.$invalid && EditContactForm.bottom_right_para.$dirty, 'has-error': EditContactForm.bottom_right_para.$invalid && EditContactForm.submitted}">
														<label for="bottom_right_para">paragraph</label>
														<div class="input-icon" ng-class="{true: 'error'}[EditContactForm.submitted && EditContactForm.bottom_right_para.$invalid]">
															<i class="fas fa-paragraph fa-fw" aria-hidden="true"></i>
															<text-angular name="bottom_right_para" ta-default-wrap="span" placeholder="something pithy goes here..." ng-model="contact.bottom_right_para" data-ng-required="true" ta-toolbar="[['bold','italics','underline','colorRed'],['ul','ol'],['undo','redo','clear']]"></text-angular>
														</div>
														<div ng-show="EditContactForm.bottom_right_para.$valid">
															<span ng-show="EditContactForm.bottom_right_para.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
														</div>
														<div ng-show="EditContactForm.bottom_right_para.$invalid && EditContactForm.bottom_right_para.$dirty">
															<span ng-show="EditContactForm.bottom_right_para.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
														</div>
													</div>
												</span>
											</div>
										</div>
									</div>
                </div>
              </div>
            </div>
						<div class="ona-portlet__foot">
							<div class="ona-form__actions">
								<button class="btn btn-info" ng-disabled="EditContactForm.$invalid || isUnchanged(contact)" id="edit-contact-btn" ng-click="update(contact)"><span class="glyphicon glyphicon-floppy-disk"></span> Update</button>
								<a href="#/" class="btn btn-cancel"> Cancel</a>
							</div>
						</div>
          </div>
		    </div>
		  </div>
		</div>
	</form>
</div>
