<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<ul class="well well-sm nav nav-justified hidden-xs hidden-sm home">
				<li><a class="text-center text-aqua" href="#/artists"><i class="fa fa-star fa-3x" aria-hidden="true"></i><br />Artists</a></li>
				<li><a class="text-center text-orange" href="#/songs"><i class="fa fa-music fa-3x" aria-hidden="true"></i><br />Songs</a></li>
				<li><a class="text-center text-purple" href="#/comps"><i class="fa fa-gift fa-3x" aria-hidden="true"></i><br />Comps</a></li>
				<li><a class="text-center text-light-blue" href="#/dropboxes"><i class="fab fa-dropbox fa-3x" aria-hidden="true"></i><br />Dropboxes</a></li>
				<li><a class="text-center text-green" href="#/sah"><i class="fas fa-video fa-3x" aria-hidden="true"></i><br />Scene &amp; Heard</a></li>
				<li><a class="text-center text-yellow" href="#/fon"><i class="fa fa-book fa-3x" aria-hidden="true"></i><br />New Signings</a></li>
				<li><a class="text-center text-danger" href="#/slider"><i class="fa fa-heart fa-3x" aria-hidden="true"></i><br />Featured Artists</a></li>
      </ul>
			<ul class="well well-sm nav nav-justified hidden-md hidden-lg home">
				<li><a class="text-center text-aqua" href="#/artists"><i class="fa fa-star fa-2x" aria-hidden="true"></i><br />Artists</a></li>
				<li><a class="text-center text-orange" href="#/songs"><i class="fa fa-music fa-2x" aria-hidden="true"></i><br />Songs</a></li>
				<li><a class="text-center text-purple" href="#/comps"><i class="fa fa-gift fa-2x" aria-hidden="true"></i><br />Comps</a></li>
				<li><a class="text-center text-light-blue" href="#/dropboxes"><i class="fab fa-dropbox fa-2x" aria-hidden="true"></i><br />Dboxes</a></li>
				<li><a class="text-center text-green" href="#/sah"><i class="fas fa-video fa-2x" aria-hidden="true"></i><br />S&amp;H</a></li>
				<li><a class="text-center text-yellow" href="#/fon"><i class="fa fa-book fa-2x" aria-hidden="true"></i><br />Signings</a></li>
				<li><a class="text-center text-danger" href="#/slider"><i class="fa fa-heart fa-2x" aria-hidden="true"></i><br />Featured</a></li>
      </ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-pink">
				<div class="row">
					<div class="col-md-12">
						<ul id="tabsJustified" class="nav nav-tabs nav-justified">
							<li class="active"><a href="javascript:;" data-target="#top-songs" data-toggle="tab"><i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Top Played Songs</a></li>
							<li><a href="javascript:;" data-target="#top-song-download" data-toggle="tab"><i class="fas fa-calendar-check fa-fw" aria-hidden="true"></i> Top Downloaded Songs</a></li>
							<li><a href="javascript:;" data-target="#top-comps" data-toggle="tab"><i class="fa fa-gift fa-fw" aria-hidden="true"></i> Top Downloaded Comps</a></li>
							<li><a href="javascript:;" data-target="#top-dropboxes" data-toggle="tab"><i class="fab fa-dropbox fa-fw" aria-hidden="true"></i> Top Downloaded Dropboxes</a></li>
						</ul><!--/tabs-->
						<br>
						<div id="tabsJustifiedContent" class="tab-content">
							<div class="col-xs-12 tab-pane fade-in active in" id="top-songs">
								<ul class="list-group">
									<li ng-repeat="songs in topSongs" class="list-group-item">
										<span class="badge badge-pink">{{songs.song_count}}</span>
										<p><i class="fa fa-music fa-fw text-yellow-casablanca" aria-hidden="true"></i> <strong>Song:</strong> <a href="#/edit-song/{{songs.song_id}}"> {{songs.song_title}}</a></p>
										<p><i class="fa fa-star fa-fw text-aqua" aria-hidden="true"></i> <strong>Artist:</strong> <a href="#/edit-artist/{{songs.INartistID}}"> {{songs.INartistName}}</a></p>
										<p class="no-margin"><i class="fas fa-clock fa-fw text-pink" aria-hidden="true"></i><em>Last played:</em> {{songs.last_played | timestampDateTimeFormat}}</p>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 tab-pane fade-in in" id="top-song-download">
								<ul class="list-group">
									<li ng-repeat="songs in topSongsDownload" class="list-group-item">
										<span class="badge badge-pink">{{songs.song_downloads}}</span>
										<p><i class="fa fa-music fa-fw text-yellow-casablanca" aria-hidden="true"></i> <strong>Song:</strong> <a href="#/edit-song/{{songs.song_id}}"> {{songs.song_title}}</a></p>
										<p><i class="fa fa-star fa-fw text-aqua" aria-hidden="true"></i> <strong>Artist:</strong> <a href="#/edit-artist/{{songs.INartistID}}"> {{songs.INartistName}}</a></p>
										<p class="no-margin"><i class="fas fa-calendar-check fa-fw text-pink" aria-hidden="true"></i><em>Last download:</em> {{songs.last_download | timestampDateTimeFormat}}</p>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 tab-pane fade-in" id="top-comps">
								<ul class="list-group">
									<li ng-repeat="comps in topComps" class="list-group-item">
										<span class="badge badge-pink">{{comps.count}}</span>
										<p><i class="fa fa-gift fa-fw text-purple" aria-hidden="true"></i> <strong><a href="#/edit-comp/{{comps.comp_id}}">{{comps.comp_name}}</a></strong></p>
										<p class="no-margin pull-right" ng-show="comps.active=='n'"><span class="label label-warning">inactive</span></p>
										<p class="no-margin pull-right" ng-show="comps.active=='y'"><span class="label label-success">active</span></p>
										<p class="no-margin"><i class="fas fa-calendar-check fa-fw text-pink" aria-hidden="true"></i><em>Last download:</em> {{comps.last_download | timestampDateTimeFormat}}</p>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 tab-pane fade-in" id="top-dropboxes">
								<ul class="list-group">
									<li ng-repeat="dropboxes in topDropboxes" class="list-group-item">
										<span class="badge badge-pink">{{dropboxes.count}}</span>
										<p><i class="fab fa-dropbox fa-fw text-light-blue" aria-hidden="true"></i> <strong><a href="#/edit-dropbox/{{dropboxes.dropbox_id}}">{{dropboxes.dropbox_name}}</a></strong></p>
										<p class="no-margin pull-right" ng-show="dropboxes.active=='n'"><span class="label label-warning">inactive</span></p>
										<p class="no-margin pull-right" ng-show="dropboxes.active=='y'"><span class="label label-success">active</span></p>
										<p class="no-margin"><i class="fas fa-calendar-check fa-fw text-pink" aria-hidden="true"></i><em>Last download:</em> {{dropboxes.last_download | timestampDateTimeFormat}}</p>
									</li>
								</ul>
							</div>
						</div><!--/tabs content-->
					</div><!--/col-12-->
				</div><!--/row-->
			</div><!--/tabs justified-->
		</div>

		<div class="col-md-6">
			<div class="panel panel-pink">
				<div class="row">
					<div class="col-md-12">
						<ul id="tabsJustified" class="nav nav-tabs nav-justified">
							<li class="active"><a href="javascript:;" data-target="#stats1" data-toggle="tab"><i class="fas fa-chart-area fa-fw" aria-hidden="true"></i> Pageviews</a></li>
							<li><a href="javascript:;" data-target="#stats2" data-toggle="tab"><i class="fas fa-chart-area fa-fw" aria-hidden="true"></i> Unique visitors</a></li>
							<li><a href="javascript:;" data-target="#stats3" data-toggle="tab"><i class="fas fa-chart-area fa-fw" aria-hidden="true"></i> Visits</a></li>
						</ul><!--/tabs-->
						<div id="tabsJustifiedContent" class="tab-content">
							<div class="col-xs-12 tab-pane fade-in active in" id="stats1">
								<div class=" center">
									<iframe src="http://www.seethestats.com/stats/6440/Pageviews_62dd2a96d_ifr.html" style="width:660px;height:425px;border:none;" scrolling="no" frameborder="0" id="statframe1"></iframe>
								</div>
							</div>
							<div class="col-xs-12 tab-pane fade-in" id="stats2">
								<div class="center">
									<iframe src="http://www.seethestats.com/stats/6440/Visitors_e27a21cc1_ifr.html" style="width:660px;height:425px;border:none;" scrolling="no" frameborder="0" id="statframe2"></iframe>
								</div>
							</div>
							<div class="col-xs-12 tab-pane fade-in" id="stats3">
								<div class="center">
									<iframe src="http://www.seethestats.com/stats/6440/Visits_78a55ef64_ifr.html" style="width:660px;height:425px;border:none;" scrolling="no" frameborder="0" id="statframe3"></iframe>
								</div>
							</div>
						</div><!--/tabs content-->
					</div><!--/col-12-->
				</div><!--/row-->
			</div><!--/tabs justified-->
		</div>
	</div>
</div>
