<div class="container-fluid">
	<div class="row">
	  <div class="col-lg-12">
	    <div class="panel">
        <div class="ona-portlet ona-portlet--height-fluid ona-portlet--head-lg ona--portlet__green">
          <div class="ona-portlet__head ona-portlet__head--noborder ona-portlet__space-x">
            <div class="ona-portlet__head-label">
              <h3 class="ona-portlet__head-title">
                <span class="ona-widget__icon">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon">
								    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							        <rect x="0" y="0" width="24" height="24"/>
							        <rect fill="#000000" x="2" y="6" width="13" height="12" rx="2"/>
							        <path d="M22,8.4142119 L22,15.5857848 C22,16.1380695 21.5522847,16.5857848 21,16.5857848 C20.7347833,16.5857848 20.4804293,16.4804278 20.2928929,16.2928912 L16.7071064,12.7071013 C16.3165823,12.3165768 16.3165826,11.6834118 16.7071071,11.2928877 L20.2928936,7.70710477 C20.683418,7.31658067 21.316583,7.31658098 21.7071071,7.70710546 C21.8946433,7.89464181 22,8.14899558 22,8.4142119 Z" fill="#000000" opacity="0.3"/>
								    </g>
									</svg>
								</span>
                Scene &amp; Heard
              </h3>
            </div>
          </div>
          <div class="ona-portlet__body ona-portlet__body--fit">
            <div class="ona-widget">
              <div class="ona-widget__visual ona-widget__green">
              </div>
              <div class="ona-widget__stats">
                <div class="ona-widget__items ona-ribbon ona-ribbon--ver ona-ribbon--shadow ona-ribbon--round">
									<div class="ona-ribbon__target">
										{{sahTotal}}
									</div>
                  <div class="ona-widget__item">
                    <span class="ona-widget__icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--success">
										    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									        <rect x="0" y="0" width="24" height="24"/>
									        <rect fill="#000000" x="2" y="6" width="13" height="12" rx="2"/>
									        <path d="M22,8.4142119 L22,15.5857848 C22,16.1380695 21.5522847,16.5857848 21,16.5857848 C20.7347833,16.5857848 20.4804293,16.4804278 20.2928929,16.2928912 L16.7071064,12.7071013 C16.3165823,12.3165768 16.3165826,11.6834118 16.7071071,11.2928877 L20.2928936,7.70710477 C20.683418,7.31658067 21.316583,7.31658098 21.7071071,7.70710546 C21.8946433,7.89464181 22,8.14899558 22,8.4142119 Z" fill="#000000" opacity="0.3"/>
										    </g>
											</svg>
                    </span>
                    <span class="ona-widget__subtitle">
                      SAH Holders
                    </span>
                    <span class="ona-widget__desc">
											<table class="table table-condensed table-striped table-hover pull-down" show-filter="true" ng-table="tableParams">
												<tbody>
													<tr ng-repeat="sah in $data">
														<td class="col-xs-3" data-title="'name'" sortable="'sceneName'" filter="{ 'sceneName': 'text' }">
															<a href="#/sah-items/{{sah.sceneID}}"><span ng-if="!sah.$edit">{{sah.sceneName | lowercase}}</span></a>
															<div ng-if="sah.$edit"><input class="form-control" type="text" ng-model="sah.sceneName" /></div>
														</td>
														<td class="center col-xs-2">
															<form name="rowform" method="post" class="form-buttons form-inline">
																<div class="btn-group">
																	<a ng-if="!sah.$edit" href="" class="btn btn-clean btn-xs margin-right-5" ng-click="sah.$edit = true"><i class="fas fa-edit fa-fw text-blue" aria-hidden="true"></i></a>
																	<a ng-if="!sah.$edit" href="" ng-click="delete(sah)" class="btn btn-clean btn-xs"><i class="fas fa-trash-alt fa-fw text-danger" aria-hidden="true"></i></a>
																	<button ng-if="sah.$edit" type="button" data-ng-click="saveSah(sah.sceneID, sah.sceneName); sah.$edit = false" class="btn btn-clean btn-xs margin-right-5"><i class="fas fa-save fa-fw" aria-hidden="true"></i></button>
																	<a ng-if="sah.$edit" href="" class="btn btn-clean btn-xs" ng-click="sah.$edit = false"><i class="fas fa-times fa-fw" aria-hidden="true"></i></a>
																</div>
															</form>
														</td>
														<td data-title="'added'" sortable="'sceneDate'" class="center col-xs-2">{{sah.sceneDate | timestampDateFormat}}</td>
														<td data-title="'sort'" sortable="'scene_order'" class="center col-xs-1"><input type="number" name="itemOrderTbl" id="itemOrderTbl" touchspin class="form-control" ng-model="sah.scene_order" /></td>
														<td data-title="'items'" class="center col-xs-2"><a class="btn btn-clean btn-xs" href="#/sah-items/{{sah.sceneID}}"><i class="fas fa-edit fa-fw" aria-hidden="true"></i></a></td>
														<td data-title="'active'" class="center col-xs-1">
															<div class="mt-radio-inline">
																<label class="mt-radio">
																	<input type="radio" name="DelItem" ng-model="sah.sceneActive" value="{{sah.sceneID}}" ng-checked={{sah.checked}} />
																	<span></span>
																</label>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
                    </span>
										<div class="ona-widget__foot">
											<div class="ona-form__actions">
												<ul class="list-inline pull-left">
													<li class="dropdown dropup">
														<a class="dropdown-toggle btn btn-info" href="javascript:;" data-toggle="dropdown" aria-haspopup="true"><span class="glyphicon glyphicon-plus"></span> Add SAH Holder</a>
														<div class="dropdown-menu dropdown-menu-right spacer5" style="min-width:240px;">
															<form novalidate role="form" class="form-horizontal" name="AddSAHForm" id="AddSAHForm" method="post">
																<input class="form-control input-sm margin-bottom-5" name="sceneName" id="sceneName" placeholder="Name" type="text" ng-model="sahholder.sceneName" required />
																<input class="form-control input-sm margin-bottom-5" name="scene_order" id="scene_order" placeholder="Sort order" ng-model="sahholder.scene_order" type="text" />
																<button type="button" class="btn btn-info btn-block" data-toggle="dropdown" ng-disabled="AddSAHForm.$invalid || isUnchanged(sah)" id="add-new-btn" ng-click="add_new(sahholder)">Add</button>
															</form>
														</div>
													</li>
												</ul>
												<button type="submit" name="setActive" ng-click="setActive()" class="btn btn-success"><i class="fas fa-eye fa-fw" aria-hidden="true"></i> Set Active</button>
												<button type="button" name="updateSort" ng-click="updateSortOrder()" class="btn btn-clean btn-outline-clean"><i class="fas fa-sort-numeric-down fa-fw" aria-hidden="true"></i> Update sort order</button>
												<a href="#/" class="btn btn-cancel">Cancel</a>
											</div>
										</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
	    </div>
	  </div>
	</div>
</div>
