<div class="container-fluid">
	<form novalidate class="form" role="form" name="SliderForm" id="SliderForm" method="post">
		<div class="row">
		  <div class="col-lg-12">
		    <div id="slider-panel" class="panel">
          <div class="ona-portlet ona-portlet--height-fluid ona-portlet--head-lg ona--portlet__red">
            <div class="ona-portlet__head ona-portlet__head--noborder ona-portlet__space-x">
              <div class="ona-portlet__head-label">
                <h3 class="ona-portlet__head-title">
                  <span class="ona-widget__icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon">
									    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <rect x="0" y="0" width="24" height="24"/>
								        <path d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 C2.99998155,19.0000663 2.99998155,19.0000652 2.99998155,19.0000642 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z" fill="#000000" opacity="0.3"/>
								        <path d="M13.8,12 C13.1562,12 12.4033,12.7298529 12,13.2 C11.5967,12.7298529 10.8438,12 10.2,12 C9.0604,12 8.4,12.8888719 8.4,14.0201635 C8.4,15.2733878 9.6,16.6 12,18 C14.4,16.6 15.6,15.3 15.6,14.1 C15.6,12.9687084 14.9396,12 13.8,12 Z" fill="#000000" opacity="0.3"/>
									    </g>
										</svg>
                  </span>
                  Home Page Carousel
                </h3>
              </div>
            </div>
            <div class="ona-portlet__body ona-portlet__body--fit">
							<a id="refresh1" ng-click="refreshCounters()" class="pull-right refresh-me margin-top-25 margin-right-25" data-target="#slider-panel" href="javascript:;"><span class="fas fa-redo" aria-hidden="true"></span></a>
              <div class="ona-widget">
                <div class="ona-widget__visual ona-widget__red">
                </div>
                <div class="ona-widget__stats refresh-container">
									<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="artist in featured">
	                  <div class="ona-widget__items">
											<div class="ona-widget__item">
	                      <span class="ona-widget__icon">
													<div class="pull-right btn-group">
														<button tabindex="-1" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog" aria-hidden="true"></i> &nbsp;&nbsp;<span class="caret"></span></button>
														<ul class="dropdown-menu pull-right" role="menu">
															<li class="dropdown-header">review</li>
															<li><a href="javascript:;" ng-click="remove(artist)"><i class="pull-right fas fa-eye-slash fa-fw" aria-hidden="true"></i> Remove</a></li>
															<li><a href="edit-artist/{{artist.INartistID}}"><i class="pull-right fas fa-edit fa-fw" aria-hidden="true"></i> Edit</a></li>
														</ul>
													</div>
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon ona-svg-icon--red">
												    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											        <polygon points="0 0 24 0 24 24 0 24"/>
											        <path d="M16.5,4.5 C14.8905,4.5 13.00825,6.32463215 12,7.5 C10.99175,6.32463215 9.1095,4.5 7.5,4.5 C4.651,4.5 3,6.72217984 3,9.55040872 C3,12.6834696 6,16 12,19.5 C18,16 21,12.75 21,9.75 C21,6.92177112 19.349,4.5 16.5,4.5 Z" fill="#000000" fill-rule="nonzero"/>
												    </g>
													</svg>
	                      </span>
	                      <span class="ona-widget__subtitle">
													<a href="edit-artist/{{artist.INartistID}}">{{artist.marker}} {{artist.INartistName}}</a>
	                      </span>
	                      <span class="ona-widget__desc">
													<a href="edit-artist/{{artist.INartistID}}"><img ng-src="../images/artists/{{artist.slider_pic}}" class="img-responsive center margin-auto"></a>
	                      </span>
	                    </div>
	                  </div>
									</div>
                </div>
              </div>
            </div>
            <div class="ona-portlet__foot">
              <div class="ona-form__actions">
								<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addArtistModal" ng-disabled="isDisabled"><i class="fas fa-plus" aria-hidden="true"></i> Add artist</button>
								<a href="#/" class="btn btn-cancel"> Cancel</a>
              </div>
            </div>
          </div>
		    </div>
		  </div>
		</div>
	</form>
</div>

<!-- add artist modal -->
<div class="modal fade" id="addArtistModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addArtistModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" method="post" class="form" name="AddSliderForm" id="AddSliderForm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-times" aria-hidden="true"></i></button>
					<h4 class="modal-title" id="addArtistModalLabel">Add to Featured Artists</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-red refresh-data">
								<div class="panel-heading">
									Add artist
								</div>
								<div class="panel-body">
									<div class="form-group">
										<select class="form-control" name="artistID" id="artistID" ng-model="artist.INartistID" data-live-search="true" ng-options="artist.artist_id as artist.artist_name for artist in artists" data-style="white" selectpicker title="Select an artist" data-width="100%" ng-required="true"></select>
										<h6 class="help-block"><i class="fas fa-info-circle fa-fw text-green" aria-hidden="true"></i> <em>This list displays artists that are currently <u>not</u> featured and have a carousel image</em></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info" name="s1" ng-disabled="AddSliderForm.$invalid" ng-click="setFeatured(artist)" data-dismiss="modal"><i class="fas fa-save" aria-hidden="true"></i> Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times" aria-hidden="true"></i> Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- /.modal -->
