<div class="container-fluid">
	<form novalidate class="form" role="form" name="SliderForm" id="SliderForm" method="post">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-red">
					<div class="panel-heading">
						<h4 class="panel-title"><i class="fa fa-heart fa-fw" aria-hidden="true"></i> Featured Artist Carousel</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="artist in featured">
								<div class="panel panel-ona">
									<div class="panel-heading">
										<div class="pull-right btn-group">
											<button tabindex="-1" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i> &nbsp;&nbsp;<span class="caret"></span></button>
											<ul class="dropdown-menu pull-right" role="menu">
												<li class="dropdown-header">review</li>
												<li><a href="javascript:;" ng-click="remove(artist)"><i class="pull-right fas fa-times-circle fa-fw" aria-hidden="true"></i> Remove</a></li>
												<li class="divider"></li>
												<li><a href="edit-artist/{{artist.INartistID}}"><i class="pull-right fas fa-edit fa-fw" aria-hidden="true"></i> Edit</a></li>
											</ul>
										</div>
										<h4 class="panel-title"><i class="far fa-heart fa-fw" aria-hidden="true"></i> <a href="edit-artist/{{artist.INartistID}}">{{artist.marker}} {{artist.INartistName}}</a></h4>
									</div>
									<div>
										<a href="edit-artist/{{artist.INartistID}}"><img ng-src="../images/artists/{{artist.slider_pic}}" class="img-responsive center margin-auto"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="panel panel-onl">
					<div class="panel-body">
						<div class="pull-left">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addArtistModal" ng-disabled="isDisabled"><i class="fa fa-plus" aria-hidden="true"></i> Add artist</button>
							<a href="#/" class="btn btn-cancel"> Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<!-- add artist modal -->
<div class="modal fade" id="addArtistModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addArtistModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" method="post" class="form" name="AddSliderForm" id="AddSliderForm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
					<h4 class="modal-title" id="addArtistModalLabel">Add to Featured Artists</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-red">
								<div class="panel-heading">
									Add artist
								</div>
								<div class="panel-body">
									<div class="form-group">
										<select class="form-control" name="artistID" id="artistID" ng-model="artist.INartistID" data-live-search="true" ng-options="artist.artist_id as artist.artist_name for artist in artists" data-style="white" selectpicker title="Select an artist" data-width="100%" ng-required="true"></select>
										<h6 class="help-block"><i class="fa fa-info-circle" aria-hidden="true"></i> <em>This list displays artists that are currently <u>not</u> featured and have a carousel image</em></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
					<button type="submit" class="btn btn-info" name="s1" ng-disabled="AddSliderForm.$invalid" ng-click="setFeatured(artist)" data-dismiss="modal"><i class="fa fa-save" aria-hidden="true"></i> Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- /.modal -->
