<div class="container-fluid">
	<div class="row">
	  <div class="col-lg-12">
	    <div class="panel">
        <div class="ona-portlet ona-portlet--height-fluid ona-portlet--head-lg ona--portlet__orange">
          <div class="ona-portlet__head ona-portlet__head--noborder ona-portlet__space-x">
            <div class="ona-portlet__head-label">
              <h3 class="ona-portlet__head-title">
                <span class="ona-widget__icon">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="ona-svg-icon">
								    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							        <polygon points="0 0 24 0 24 24 0 24"/>
							        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
							        <path d="M9.83333333,17 C8.82081129,17 8,16.3159906 8,15.4722222 C8,14.6284539 8.82081129,13.9444444 9.83333333,13.9444444 C10.0476105,13.9444444 10.2533018,13.9750785 10.4444444,14.0313779 L10.4444444,9.79160113 C10.4444444,9.47824076 10.6398662,9.20124044 10.9268804,9.10777287 L14.4407693,8.0331119 C14.8834716,7.88894376 15.3333333,8.23360047 15.3333333,8.71694016 L15.3333333,9.79160113 C15.3333333,10.1498215 14.9979332,10.3786009 14.7222222,10.4444444 C14.3255297,10.53918 13.3070112,10.7428837 11.6666667,11.0555556 L11.6666667,15.5035214 C11.6666667,15.5583862 11.6622174,15.6091837 11.6535404,15.6559869 C11.5446237,16.4131089 10.771224,17 9.83333333,17 Z" fill="#000000"/>
								    </g>
									</svg>
								</span>
                All Songs
              </h3>
            </div>
          </div>
          <div class="ona-portlet__body ona-portlet__body--fit">
            <div class="ona-widget">
              <div class="ona-widget__visual ona-widget__orange">
              </div>
              <div class="ona-widget__stats">
                <div class="ona-widget__items ona-ribbon ona-ribbon--ver ona-ribbon--shadow ona-ribbon--round">
									<div class="ona-ribbon__target">
										{{songsTotal}}
									</div>
                  <div class="ona-widget__item">
                    <span class="ona-widget__icon">
											<svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="ona-svg-icon ona-svg-icon--orange">
										    <g id="Stockholm-icons-/-Media-/-Music" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
									        <path d="M8,17.0400072 L8,8 C8,7.56261503 8.28424981,7.17598102 8.70172501,7.04552002 L17.701725,4.54552002 C18.3456556,4.34429171 19,4.82535976 19,5.5 L19,17 C19,17.0001911 18.9999999,17.0003822 18.9999998,17.0005733 C18.9996127,18.1048793 17.880473,19 16.5,19 C15.1192881,19 14,18.1045695 14,17 C14,15.8954305 15.1192881,15 16.5,15 C16.6712329,15 16.838445,15.0137721 17,15.0400072 L17,8 L10,9.875 L10,19 C10,19.0001911 9.99999995,19.0003822 9.99999984,19.0005733 C9.99961272,20.1048793 8.88047301,21 7.5,21 C6.11928813,21 5,20.1045695 5,19 C5,17.8954305 6.11928813,17 7.5,17 C7.67123292,17 7.83844503,17.0137721 8,17.0400072 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero"></path>
										    </g>
											</svg>
                    </span>
                    <span class="ona-widget__subtitle">
                      Songs
                    </span>
                    <span class="ona-widget__desc">
											<table class="table table-condensed table-striped table-hover pull-down" show-filter="true" ng-table="songsTableParams">
												<tbody>
													<tr ng-repeat="song in $data">
														<td class="col-xs-3" data-title="'name'" sortable="'song_title'" filter="{ 'song_title': 'text' }"><a href="#/edit-song/{{song.song_id}}"><i class="fas fa-music fa-fw text-orange" aria-hidden="true"></i> {{song.song_title}}</a></td>
														<td class="col-xs-3" data-title="'artist'" sortable="'INartistName'"><a href="#/edit-artist/{{song.INartistID}}"><i class="fas fa-star fa-fw text-aqua" aria-hidden="true"></i> {{song.marker}} {{song.INartistName}}</a></td>
														<td class="center col-xs-1" data-title="'mp3'"><span class="label" ng-class="{'label-warning': song.mp3Txt=='no','label-success': song.mp3Txt=='yes'}">{{song.mp3Txt}}</span></td>
														<td class="col-xs-1" data-title="'added'" sortable="'date_added'"><i class="far fa-calendar-plus fa-fw text-light-blue" aria-hidden="true"></i> {{song.date_added | timestampDateFormat}}</td>
														<td class="center col-xs-1" data-title="'plays'" sortable="'song_count'"><i class="far fa-play-circle fa-fw text-purple" aria-hidden="true"></i> {{song.song_count}}</td>
														<td class="center col-xs-1" data-title="'displayed'" sortable="'rosterTxt'"><span class="label" ng-class="{'label-warning': song.roster_flag=='n','label-success': song.roster_flag=='y'}">{{song.rosterTxt}}</span></td>
														<td class="center col-xs-1" data-title="'downloads'" sortable="'song_downloads'"><i class="fas fa-download fa-fw text-green" aria-hidden="true"></i> {{song.song_downloads}}</td>
														<td class="col-xs-1" data-title="''">
															<div class="tools btn-group">
																<button tabindex="-1" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-h" aria-hidden="true"></i></button>
																<ul class="dropdown-menu pull-right" role="menu">
																	<li ng-show="song.song_file" class="dropdown-header">MP3</li>
																	<li><a ng-show="song.song_file" play-mp3 data-songtitle="{{song.song_title}}" href="{{song.song_file}}"><i class="pull-right fas fa-headphones-alt fa-fw text-orange" aria-hidden="true"></i> Play</a></li>
																	<li class="dropdown-header">Review</li>
																	<li><a href="#/edit-song/{{song.song_id}}"><i class="pull-right fas fa-edit fa-fw text-blue" aria-hidden="true"></i> Edit</a></li>
																	<li><a href="" ng-click="delete(song)"><i class="pull-right fas fa-trash-alt fa-fw text-danger" aria-hidden="true"></i> Delete</a></li>
																</ul>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
	    </div>
	  </div>
	</div>
</div>
