<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-orange" id="songsPanel">
				<div class="panel-heading">
					<a id="refresh1" ng-click="refresh()" class="pull-right refresh-me margin-top-5" data-target="#songsPanel" href="javascript:;"><span class="fas fa-redo fa-fw" aria-hidden="true"></span></a>
					<span class="badge badge-white pull-right margin-right-5 margin-top-4">{{songsTotal}}</span>
					<h4 class="panel-title">
						<i class="fa fa-music fa-fw" aria-hidden="true"></i> songs with no mp3 file
					</h4>
				</div>
				<div class="panel-body panel-refresh refresh-container">
					<div class="elevation">
						<table class="table table-condensed table-striped table-hover pull-down" show-filter="true" ng-table="tableParams">
							<tbody>
								<tr ng-repeat="song in $data">
									<td class="col-xs-3" data-title="'name'" sortable="'song_title'" filter="{ 'song_title': 'text' }"><a href="#/edit-song/{{song.song_id}}">{{song.song_title | lowercase}}</a></td>
									<td class="col-xs-4" data-title="'artist'" sortable="'INartistName'"><a href="#/edit-artist/{{song.INartistID}}">{{song.marker}} {{song.INartistName}}</a></td>
									<td class="center col-xs-2" data-title="'added'" sortable="'date_added'">{{song.date_added | timestampDateFormat}}</td>
									<td class="center col-xs-1" data-title="'displayed'" sortable="'rosterTxt'"><span class="label" ng-class="{'label-warning': song.roster_flag=='n','label-success': song.roster_flag=='y'}">{{song.rosterTxt}}</span></td>
									<td class="center col-xs-2" data-title="''">
										<div class="btn-group">
											<a href="#/edit-song/{{song.song_id}}" class="btn btn-default btn-xs margin-right-5"><i class="fas fa-edit fa-fw" aria-hidden="true"></i></a>
											<a href="" ng-click="delete(song)" class="btn btn-default btn-xs"><i class="fas fa-trash fa-fw" aria-hidden="true"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
