<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-orange" id="songsPanel">
				<div class="panel-heading">
					<a id="refresh1" ng-click="refresh()" class="pull-right refresh-me margin-top-5" data-target="#songsPanel" href="javascript:;"><span class="fas fa-redo fa-fw" aria-hidden="true"></span></a>
					<span class="badge badge-white pull-right margin-right-5 margin-top-4">{{songsTotal}}</span>
					<h4 class="panel-title">
						<i class="fa fa-music fa-fw" aria-hidden="true"></i> songs not in comps
					</h4>
				</div>
				<div class="panel-body panel-refresh refresh-container">
					<div class="elevation">
						<table class="table table-condensed table-striped table-hover pull-down" show-filter="true" ng-table="tableParams">
							<tbody>
								<tr ng-repeat="song in $data">
									<td class="col-xs-3" data-title="'name'" sortable="'song_title'" filter="{ 'song_title': 'text' }"><a href="#/edit-song/{{song.song_id}}">{{song.song_title | lowercase}}</a></td>
									<td class="col-xs-2" data-title="'artist'" sortable="'INartistName'"><a href="#/edit-artist/{{song.INartistID}}">{{song.marker}} {{song.INartistName}}</a></td>
									<td class="col-lg-3 col-md-3 col-xs-2" data-title="'mp3'">{{song.song_file}}</td>
									<td class="center col-xs-2" data-title="'added'" sortable="'date_added'">{{song.date_added | timestampDateFormat}}</td>
									<td class="center col-xs-1" data-title="'displayed'" sortable="'rosterTxt'"><span class="label" ng-class="{'label-warning': song.roster_flag=='n','label-success': song.roster_flag=='y'}">{{song.rosterTxt}}</span></td>
									<td class="col-xs-1" data-title="''">
										<div class="tools btn-group">
											<button tabindex="-1" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-h" aria-hidden="true"></i></button>
											<ul class="dropdown-menu pull-right" role="menu">
												<li><a ng-show="song.song_file" play-mp3 data-songtitle="{{song.song_title}}" href="{{song.song_file}}"><i class="pull-right fas fa-headphones-alt fa-fw" aria-hidden="true"></i> Play</a></li>
												<li><a href="#/edit-song/{{song.song_id}}"><i class="pull-right fas fa-edit fa-fw" aria-hidden="true"></i> Edit details</a></li>
												<li><a href="" ng-click="delete(song)"><i class="pull-right fas fa-trash fa-fw" aria-hidden="true"></i> Delete</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
