	<li data-ng-class="{active: isActive('/')}"><a href="#/"><i class="fas fa-home menu-icon fa-fw" aria-hidden="true"></i> <span >Dashboard</span></a></li>
	<li data-ng-class="{active: isActive('/users')}"><a href="#/users"><i class="fas fa-street-view menu-icon fa-fw" aria-hidden="true"></i> <span>Users &nbsp;&nbsp;<span class="label label-info">{{users.length}}</span> </a></li>
	<li data-ng-class="{active: isActive('/artists')}">
		<a href="#/artists" ng-init="collapseArtist=true" ng-click="collapseArtist=!collapseArtist"><i class="fa fa-star menu-icon fa-fw" aria-hidden="true"></i> <span>Artists &nbsp;&nbsp;<span class="label label-info">{{allArtistsTotal}}</span> <i class="text-muted pull-right fa fa-plus-square-o fa-fw" aria-hidden="true"></i></span></a>
		<ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseArtist}" id="artistMenu">
			<li data-ng-class="{active: isActive('/add-artist')}"><a href="#/add-artist">New Artist</a></li>
			<li data-ng-class="{active: isActive('/artists-no-songs')}"><a href="#/artists-no-songs">w/o Songs &nbsp;&nbsp;<span class="label label-info">{{artistNoSongsTotal}}</span></a></li>
			<li><a href="javascript:;" ng-init="collapseArtistList=true" ng-click="collapseArtistList=!collapseArtistList">Artist List <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></a>
				<ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseArtistList}" id="artistListMenu">
					<li ng-repeat="artist in artists" data-ng-class="{active: isActive('/edit-artist/{{ artist.id }}')}">
						<a href='#/edit-artist/{{ artist.id }}'>{{artist.marker | lowercase}} {{artist.INartistName | lowercase}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li data-ng-class="{active: isActive('/songs')}">
		<a href="#/songs" ng-init="collapseSongs=true" ng-click="collapseSongs=!collapseSongs"><i class="fa fa-music menu-icon fa-fw" aria-hidden="true"></i> <span>Songs &nbsp;&nbsp;<span class="label label-info">{{allSongsTotal}}</span><i class="text-muted pull-right fa fa-plus-square-o fa-fw" aria-hidden="true"></i></span> </a>
		<ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseSongs}" id="aongsMenu">
			<li data-ng-class="{active: isActive('/add-song')}"><a href="#/add-song">New Song</a></li>
			<li data-ng-class="{active: isActive('/songs-no-file')}"><a href="#/songs-no-file">w/o MP3s &nbsp;&nbsp;<span class="label label-info">{{songsNoFileTotal}}</span></a></li>
			<li data-ng-class="{active: isActive('/songs-no-comp')}"><a href="#/songs-no-comp">Not in Comps &nbsp;&nbsp;<span class="label label-info">{{songsNoCompTotal}}</span></a></li>
			<li><a href="javascript:;" ng-init="collapseSongList=true" ng-click="collapseSongList=!collapseSongList">Song List <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></a>
				<ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseSongList}" id="songListMenu">
					<li ng-repeat="song in songs" data-ng-class="{active: isActive('/edit-song/{{ song.id }}')}">
						<a href='#/edit-song/{{ song.song_id }}'>{{song.song_title | lowercase}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li data-ng-class="{active: isActive('/comps')}">
		<a href="#/comps" ng-init="collapseComps=true" ng-click="collapseComps=!collapseComps"><i class="fas fa-gift menu-icon fa-fw" aria-hidden="true"></i> <span>Comps &nbsp;&nbsp;<span class="label label-info">{{allCompsTotal}}</span> <i class="text-muted pull-right fa fa-plus-square-o fa-fw" aria-hidden="true"></i></span></a>
		<ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseComps}" id="compsMenu">
			<li data-ng-class="{active: isActive('/add-comp')}"><a href="#/add-comp">New Comp</a></li>
			<li><a href="javascript:;" ng-init="collapseCompList=true" ng-click="collapseCompList=!collapseCompList">Comp List <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></a>
				<ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseCompList}" id="CompListMenu">
					<li ng-repeat="comp in comps" data-ng-class="{active: isActive('/edit-comp/{{ comp.comp_id }}')}">
						<a href='#/edit-comp/{{ comp.comp_id }}'>{{ comp.comp_name }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li data-ng-class="{active: isActive('/dropboxes')}">
		<a href="#/dropboxes" ng-init="collapseDropboxes=true" ng-click="collapseDropboxes=!collapseDropboxes"><i class="fab fa-dropbox menu-icon fa-fw" aria-hidden="true"></i> <span>Dropboxes &nbsp;&nbsp;<span class="label label-info">{{allDropboxesTotal}}</span> <i class="text-muted pull-right fa fa-plus-square-o"></i></span></a>
		<ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseDropboxes}" id="dropboxesMenu">
			<li data-ng-class="{active: isActive('/add-dropbox')}"><a href="#/add-dropbox">New Dropbox</a></li>
			<li><a href="javascript:;" ng-init="collapseDropboxList=true" ng-click="collapseDropboxList=!collapseDropboxList">Dropbox List <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></a>
				<ul class="nav nav-sub pull-down collapse" ng-class="{in: !collapseDropboxList}" id="DropboxListMenu">
					<li ng-repeat="dropbox in dropboxes" data-ng-class="{active: isActive('/edit-dropbox/{{ dropbox.dropbox_id }}')}">
						<a href='#/edit-dropbox/{{ dropbox.dropbox_id }}'>{{ dropbox.dropbox_name }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li data-ng-class="{active: isActive('/sah')}">
		<a href="#/sah"><i class="fas fa-video menu-icon fa-fw" aria-hidden="true"></i> <span>Scene &amp; Heard &nbsp;&nbsp;<span class="label label-info">{{sahItemTotal}}</span></span></a>
	</li>
	<li data-ng-class="{active: isActive('/fon')}"><a href="#/fon"><i class="fa fa-book menu-icon fa-fw" aria-hidden="true"></i> <span>New signings</span></a></li>
	<li data-ng-class="{active: isActive('/slider')}"><a href="#/slider"><i class="fa fa-heart menu-icon fa-fw" aria-hidden="true"></i> <span>Featured artists</span></a></li>
	<li ng-repeat="about in abouts" data-ng-class="{active: isActive('/edit-about/{{ about.about_id }}')}">
		<a href='#/edit-about/{{ about.about_id }}'><i class="fas fa-smile menu-icon fa-fw" aria-hidden="true"></i> <span>About Page</span></a>
	</li>
	<li ng-repeat="contact in contacts" data-ng-class="{active: isActive('/edit-contact/{{ contact.contact_id }}')}">
		<a href='#/edit-contact/{{ contact.contact_id }}'><i class="fas fa-at menu-icon fa-fw" aria-hidden="true"></i> <span>Contact Page</span></a>
	</li>
	<li ng-repeat="setting in settings" data-ng-class="{active: isActive('/edit-settings/{{ setting.id }}')}">
		<a href='#/edit-settings/{{ setting.id }}'><i class="fa fa-sitemap menu-icon fa-fw" aria-hidden="true"></i> <span>Site Settings</span></a>
	</li>
	<li ng-repeat="supe in supes" data-ng-class="{active: isActive('/edit-supe-password/{{ supe.id }}')}">
		<a href='#/edit-supe-password/{{ supe.id }}'><i class="fa fa-key menu-icon fa-fw" aria-hidden="true"></i> <span>Supervisor Password</span></a>
	</li>
