<!-- player -->
<button class="btn btn-default no-shadow pos-abt" ui-toggle-class="active" target=".playerpanel">
  <i class="far fa-play-circle fa-lg fa-fw text-blue" aria-hidden="true"></i>
</button>

<div class="panel-heading">audio player</div>
<div class="panel-body">
	<div class="row">
		<div class="col-xs-12">
			<div class="player-visible" id="player">
				<span class="label label-blue pull-left clearfix"></span>
				<audio controls class="audio pull-left clearfix" id="audio">
					<source src="" type="audio/mpeg">
				</audio>
			</div>
		</div>
	</div>
</div>
<!-- /player -->
